<script>
	import {
		faCalendarDay,
		faCalendarWeek,
		faChartBar,
		faPlus,
		faRoute,
		faCarAlt,
		faSackDollar,
		faWrench, 
		faEdit,
		faListAlt
	} from "@fortawesome/free-solid-svg-icons";
	import { url } from "@roxi/routify";
	import Fa from "svelte-fa";

	let actions = [
		{
			name: "ТО на сегодня",
			icon: faCalendarDay,
			url: $url("/vehicle/schedule/today"),
		},
		{
			name: "Полное расписание ТО",
			icon: faCalendarWeek,
			url: $url("/vehicle/schedule/full"),
		},
		{
			name: "Запланировать ТО",
			icon: faPlus,
			url: $url("/vehicle/schedule/new"),
		},
		{ divider: true },
		{
			name: "Результаты ТО",
			icon: faWrench,
			url: $url("/vehicle/inspection/all"),
		},
		{
			name: "Добавить результат ТО",
			icon: faPlus,
			url: $url("/vehicle/inspection/new"),
		},
		{ divider: true },
		{
			name: "Все ТС",
			icon: faCarAlt,
			url: $url("/vehicle/all")
		},
		{
			name: "Добавить ТС",
			icon: faPlus,
			url: $url("/vehicle/new")
		},
		{ divider: true },
		{
			name: "Типы ТС",
			icon: faListAlt,
			url: $url("/vehicle/types/all")
		},
		{
			name: "Добавить тип ТС",
			icon: faPlus,
			url: $url("/vehicle/types/new")
		},
		{
			name: "Редактировать тип ТС",
			icon: faEdit,
			url: $url("/vehicle/types/rename")
		},
		{ divider: true },
		{
			name: "Анализ",
			icon: faChartBar,
			url: $url("/vehicle/analyze"),
		},
	];
</script>

<div class="flex grow gap-4 overflow-hidden">
	<div class="flex flex-col items-end">
		{#each actions as action}
			{#if action?.divider}
				<div class="divider"></div>
			{:else}
				<a
					href="{action.url}"
					class="flex gap-2 decoration-accent decoration-2 hover:underline justify-end hover:text-accent items-center p-2 px-4 hover:bg-base-200 w-fit rounded"
				>
					<Fa icon="{action.icon}" />
					<span class="text-base-content text-right">{action.name}</span>
				</a>
			{/if}
		{/each}
	</div>
	<div class="flex grow flex-col rounded-box bg-base-200 p-4 overflow-hidden">
		<slot />
	</div>
</div>
