<script>
	import { onMount } from "svelte";
	import Fa from "svelte-fa";
	import { faPlus } from "@fortawesome/free-solid-svg-icons";
	import { url } from "@roxi/routify";
	import LoadingScreen from "../../components/loading/LoadingScreen.svelte";
	import Search from "../../components/Search.svelte";
	import OverflowTable from "../../components/OverflowTable.svelte";
	import { getAllVehicle } from "../../api/vehicle";
	import { parseDate } from "../../date";

	let allVehicle = null;

	let userInput = "",
		filtered;
	const filterItems = () => {
		if (!allVehicle) return;

		let input = userInput.toLowerCase();

		if (input.length <= 2) {
			filtered = null;
			return;
		}

		filtered = allVehicle.filter((item) => {
			let passed = false;

			for (const [_, value] of Object.entries(item)) {
				let s = value.toString().toLowerCase();
				if (s.indexOf(input) !== -1) {
					passed = true;
					break;
				}
			}
			return passed;
		});
	};

	onMount(() => {
		getAllVehicle().then((data) => {
			allVehicle = data;
		});
	});
</script>

<div class="flex flex-col grow overflow-hidden">
	{#if allVehicle}
		<h1 class="text-accent p-4 text-xl pt-0 font-bold text-center">
			Гараж
		</h1>
		<div class="flex bg-base-200 p-4 mb-4 rounded-box place-items-end gap-4">
			<Search
				title="Поиск ТС"
				bind:input="{userInput}"
				fn="{filterItems}"
			/>
			<div
				class="tooltip tooltip-success tooltip-left"
				data-tip="Добавить ТС"
			>
				<a href="{$url('/vehicle/new')}" class="btn btn-success">
					<Fa icon="{faPlus}" />
				</a>
			</div>
		</div>
		<OverflowTable class="shadow-base-300 shadow-lg p-4">
			<tr slot="th" class="sticky top-0 z-50">
				<th>Последнее ТО</th>
				<th>Пробег</th>
				<th>Тип авто</th>
				<th>Марка</th>
				<th>Модель</th>
				<th>Номер</th>
			</tr>
			<tbody slot="tbody">
				{#each filtered || allVehicle as vehicle}
					<tr>
						<td>{parseDate(vehicle.last_inspection)}</td>
						<td>{vehicle.max_mileage}</td>
						<td>{vehicle.type_of_vehicle}</td>
						<td>{vehicle.brand}</td>
						<td>{vehicle.model}</td>
						<td>{vehicle.plate}</td>
					</tr>
				{/each}
			</tbody>
		</OverflowTable>
	{:else}
		<LoadingScreen />
	{/if}
</div>