<script>
	import OverflowTable from "../../components/OverflowTable.svelte";
	import LoadingScreen from "../../components/loading/LoadingScreen.svelte";
	import { getMileageAnalysis, getVehicleAnalysis } from "../../api/vehicle";

	let data = {
		start: new Date(),
		end: new Date(),
	};

	let vehicleData, mileageData;
	function sendPostAnalyze() {
		getMileageAnalysis(data).then((data) => {
			mileageData = data;
		});
		getVehicleAnalysis(data).then((data) => {
			vehicleData = data;
		});
	}
</script>

<div class="flex flex-col grow overflow-hidden gap-4">
	<div class="flex overflow-hidden gap-8 justify-center items-center">
		<div class="form-control w-full">
			<label class="input-group w-full">
				<span class="px-8">От</span>
				<input
					type="date"
					placeholder="info@site.com"
					class="input input-bordered w-full"
					bind:value="{data.start}"
				/>
				<span class="px-8">До</span>
				<input
					type="date"
					placeholder="info@site.com"
					class="input input-bordered w-full"
					bind:value="{data.end}"
				/>
				<input
					type="button"
					class="btn btn-accent"
					value="Анализ"
					on:click="{sendPostAnalyze}"
				/>
			</label>
		</div>
	</div>
	{#if vehicleData && mileageData}
		<OverflowTable class="flex-1">
			<tr slot="th" class="sticky top-0 z-50">
				<th>Количество не пройденных ТО</th>
				<th>Марка</th>
			</tr>
			<tbody slot="tbody">
				{#each vehicleData as v}
					<tr>
						<td>{v.count_of_passed}</td>
						<td>{v.brand}</td>
					</tr>
				{/each}
			</tbody>
		</OverflowTable>
		<OverflowTable class="flex-1">
			<tr slot="th" class="sticky top-0 z-50">
				<th>Суммарный пробег в организации</th>
				<th>Регистрационный номер</th>
			</tr>
			<tbody slot="tbody">
				{#each mileageData as m}
					<tr>
						<td>{m.total_in_org_mileage}</td>
						<td>{m.plate}</td>
					</tr>
				{/each}
			</tbody>
		</OverflowTable>
	{:else}
		<div class="flex grow">
			<LoadingScreen placeholder="Выберите даты..." />
		</div>
	{/if}
</div>
