<script>
	import { onMount } from "svelte";
	import { newVehicle, getAllTypes } from "../../api/vehicle";
	import Notification from "../../components/Notification.svelte";

    let types = null;
    onMount(() => {
        getAllTypes().then((data) => {
            types = data
        });
    });

	let data = {
        model: "",
        brand: "",
        plate: "",
        id_type: null,
        type_name: null
	};

	function postVehicle() {
		if ((data.id_type == "null") || (data.id_type === null)) {
			data.id_type = Math.max.apply(Math, types.map((o) => { return o.id_type; })) + 1
		}

		newVehicle(data).then((res) => {
			if (res?.error) {
				alertUser(res.error, true);
				return;
			}
			alertUser("Новое ТС добавлено");
		});
	}

	let vissible = false;
    function toggleVissible() {
        vissible = data.id_type == "null";
    }

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">Новый ТС</div>
	<div class="grid grid-cols-2 gap-8 bg-base-200 p-4 rounded-box w-3/4">
        <div class="form-control w-full">
			<label class="label" for="brand">
				<span class="label-text">Введите марку ТС</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="brand"
				id="brand"
				bind:value="{data.brand}"
			/>
		</div>
        <div class="form-control w-full">
			<label class="label" for="model">
				<span class="label-text">Введите модель ТС</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="model"
				id="model"
				bind:value="{data.model}"
			/>
		</div>
        <div class="form-control w-full">
			<label class="label" for="plate">
				<span class="label-text">Введите регистрационный номер ТС</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="plate"
				id="plate"
				bind:value="{data.plate}"
			/>
		</div>
        <div class="form-control w-full max-w-md">
			<label class="label" for="id_type">
				<span class="label-text">Выберите тип ТС</span>
			</label>
			<select
				class="select select-bordered"
				name="id_type"
				id="id_type"
				bind:value="{data.id_type}"
				on:change={toggleVissible}
			>
                <option value=null selected>Отсутсвует в списке</option>
				{#if types}
					{#each types as t}
						<option value="{t.id_type}">
							{t.name}
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		{#if vissible}
		<div class="form-control w-full">
			<label class="label" for="type_name">
				<span class="label-text">Введите тип ТС</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="type_name"
				id="type_name"
				bind:value="{data.type_name}"
			/>
		</div>
		{/if}
		<button class="btn btn-primary col-span-full" on:click="{postVehicle}"
			>Добавить</button
		>
	</div>
</div>
