<script context="module">
	import {
		faTruck,
		faBus,
		faCar,
		faCarBattery,
		faCarCrash,
		faCarTunnel,
		faCarAlt,
		faCarRear,
	} from "@fortawesome/free-solid-svg-icons";

	import Fa from "svelte-fa";

	const animationIcons = [
		faTruck,
		faBus,
		faCar,
		faCarBattery,
		faCarCrash,
		faCarTunnel,
		faCarAlt,
		faCarRear,
	];

	const getRandomIcon = () =>
		animationIcons[Math.floor(Math.random() * animationIcons.length)];
</script>

<script>
	// Loading animation
	export let icon = getRandomIcon();
	setInterval(() => {
		icon = getRandomIcon();
	}, 1000);
</script>

<div class="text-4xl">
	<Fa icon="{icon}" class="animate-ping absolute" />
	<Fa icon="{icon}" class="" />
</div>
