<script>
	import LoadingIcon from "./LoadingIcon.svelte";

	let classes = "";
	export { classes as class };
	export let placeholder = "Загрузка...";

	let i1, i2, i3;
</script>

<div
	class="flex flex-col items-center justify-center grow h-full gap-4 {classes}"
>
	<span class="text-6xl mb-12">{placeholder}</span>
	<div class="flex gap-10 text-gray-400 dark:text-gray-700">
		<LoadingIcon bind:icon="{i1}" />
		<LoadingIcon bind:icon="{i2}" />
		<LoadingIcon bind:icon="{i3}" />
	</div>
	<span class="text-xl text-success">
		{#if i1 === i2 && i2 === i3}Джекпот!{:else}&nbsp;{/if}
	</span>
</div>
