<script>
	import { onMount } from "svelte";
	import LoadingScreen from "../../../components/loading/LoadingScreen.svelte";
	import { url } from "@roxi/routify";
	import Search from "../../../components/Search.svelte";
	import { faPlus } from "@fortawesome/free-solid-svg-icons";
	import Fa from "svelte-fa";
	import OverflowTable from "../../../components/OverflowTable.svelte";
	import { getOrders } from "../../../api/cargo";
	import { parseDate } from "../../../date";

	let orders;

	let userInput = "",
		filtered;
	const filterItems = () => {
		if (!orders) return;

		let input = userInput.toLowerCase();

		filtered = orders.filter((item) => {
			let passed = false;

			for (const [_, value] of Object.entries(item)) {
				let s = value.toString().toLowerCase();
				if (s.indexOf(input) !== -1) {
					passed = true;
					break;
				}
			}
			return passed;
		});
	};

	onMount(() => {
		getOrders().then((data) => {
			orders = data;
			filterItems();
			console.log(orders);
		});
	});
</script>

<div class="flex flex-col grow overflow-hidden">
	{#if orders}
		<div class="flex bg-base-200 p-4 mb-4 rounded-box place-items-end gap-4">
			<Search
				title="Поиск по заявкам"
				bind:input="{userInput}"
				fn="{filterItems}"
			/>
			<div
				class="tooltip tooltip-success tooltip-left"
				data-tip="Добавить заявку"
			>
				<a href="{$url('/cargo/order/new')}" class="btn btn-success">
					<Fa icon="{faPlus}" />
				</a>
			</div>
		</div>
		<div class="flex w-full grow overflow-hidden bg-base-200 rounded-box p-4">
			<OverflowTable class="shadow-base-300 shadow-lg">
				<tr slot="th" class="sticky top-0 z-50">
					<th></th>
					<th>Дата</th>
					<th>Клиент</th>
					<th>Откуда</th>
					<th>Куда</th>
				</tr>
				<tbody slot="tbody">
					{#each filtered || orders as o}
						<tr>
							<td>{o.id_order}</td>
							<td>{parseDate(o.date)}</td>
							<td class="whitespace-normal">
								{o.name}
								<span class="block font-bold text-info">
									{o.phone_number}
								</span>
							</td>
							<td class="whitespace-normal">{o.address_from}</td>
							<td class="whitespace-normal">{o.address_to}</td>
						</tr>
					{/each}
				</tbody>
			</OverflowTable>
		</div>
	{:else}
		<LoadingScreen class="self-center" />
	{/if}
</div>
