<script>
	import { newOrder } from "../../../api/cargo";
	import Notification from "../../../components/Notification.svelte";

	let data = {
		client_name: null,
		client_phone: null,
		address_from: null,
		address_to: null,
		date: new Date(),
	};

	function postNewOrder() {
		newOrder(data).then((res) => {
			if (res?.error) {
				alertUser(
					"Ошибка при добавлении заявки: " + JSON.stringify(res.error),
					true
				);
				return;
			}
			alertUser("Заявка добавлен");
		});
	}

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">Добавить заявку</div>
	<div class="grid grid-cols-6 gap-8 bg-base-200 p-4 rounded-box w-3/4">
		<div class="form-control w-full max-w-md col-span-2">
			<label class="label" for="client">
				<span class="label-text">ФИО клиента</span>
			</label>
			<input
				type="test"
				class="input input-bordered"
				name="client"
				id="client"
				bind:value="{data.client_name}"
				placeholder="Михаил Васильевич Барсуков"
			/>
		</div>
		<div class="form-control w-full max-w-md col-span-2">
			<label class="label" for="phone">
				<span class="label-text">Контактный телефон</span>
			</label>
			<input
				type="test"
				class="input input-bordered"
				name="phone"
				id="phone"
				bind:value="{data.client_phone}"
				placeholder="+79996189338"
			/>
		</div>
		<div class="form-control w-full max-w-md col-span-2">
			<label class="label" for="date">
				<span class="label-text">Заявка на дату</span>
			</label>
			<input
				type="date"
				class="input input-bordered"
				name="date"
				id="date"
				bind:value="{data.date}"
			/>
		</div>
		<div class="form-control w-full max-w-md col-span-3">
			<label class="label" for="from">
				<span class="label-text">Откуда</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="from"
				id="from"
				bind:value="{data.address_from}"
				placeholder="Ельцина 2"
			/>
		</div>
		<div class="form-control w-full max-w-md col-span-3">
			<label class="label" for="to">
				<span class="label-text">Куда</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="to"
				id="to"
				bind:value="{data.address_to}"
				placeholder="Ельцина 3"
			/>
		</div>
		<button class="btn btn-primary col-span-full" on:click="{postNewOrder}">
			Добавить
		</button>
	</div>
</div>
