<script>
	import {
		faArrowLeftLong,
		faBus,
		faCalendar,
		faCalendarDay,
		faCalendarWeek,
		faChartBar,
		faClipboardList,
		faHome,
		faPlus,
		faQuestion,
		faRoute,
		faSackDollar,
		faTruck,
		faCar,
		faList,
		faWrench,
		faEdit,
		faListAlt
	} from "@fortawesome/free-solid-svg-icons";
	import { url } from "@roxi/routify";
	import Fa from "svelte-fa";

	function iconFor(t) {
		switch (t) {
			case "public":
				return faBus;
			case "cargo":
				return faTruck;
			case "schedule":
				return faCalendar;
			case "order":
				return faClipboardList;
			case "fixate":
				return faSackDollar;
			case "route":
				return faRoute;
			case "today":
				return faCalendarDay;
			case "full":
				return faCalendarWeek;
			case "new":
			case "add":
				return faPlus;
			case "analyze":
				return faChartBar;
			case "vehicle":
				return faCar;
			case "all":
				return faList;
			case "inspection":
				return faWrench;
			case "rename":
				return faEdit;
			case "types":
				return faListAlt;
			default:
				return faQuestion;
		}
	}

	function humanize(t) {
		switch (t) {
			case "public":
				return "Пассажироперевозки";
			case "cargo":
				return "Грузоперевозки";
			case "schedule":
				return "Расписание";
			case "order":
				return "Заявки";
			case "fixate":
				return "Зафиксировать";
			case "route":
				return "Маршруты";
			case "today":
				return "Сегодня";
			case "full":
				return "Полное";
			case "new":
				return "Добавить";
			case "analyze":
				return "Анализ";
			case "vehicle":
				return "Гараж";
			case "all":
				return "Список"
			case "inspection":
				return "ТО"
			case "rename":
				return "Редактирование"
			case "types":
				return "Типы"
			default:
				return t;
		}
	}

	let crumbs = [];
	let showBack = false;
	export function update() {
		let u = new URL(document.location.href);
		const tokens = u.pathname.split("/").filter((t) => t !== "");

		let tokenPath = "";
		let d = tokens.map((t) => {
			tokenPath += "/" + t;
			return {
				name: humanize(t),
				icon: iconFor(t),
				href: tokenPath,
			};
		});
		d.unshift({ name: "Главная страница", icon: faHome, href: "/" });
		crumbs = [...d];

		showBack = u.pathname != $url("/");
	}
</script>

<div
	class:mx-8="{!showBack}"
	class="flex m-4 mb-0 p-0 text-sm breadcrumbs overflow-hidden shrink max-h-fit"
	style="overflow:initial"
>
	{#if showBack}
		<a
			href="{$url(crumbs[crumbs.length - 2].href)}"
			class="btn btn-xs w-12 btn-ghost h-4"
		>
			<Fa icon="{faArrowLeftLong}" />
		</a>
		<div class="divider divider-horizontal m-0 p-0"></div>
	{/if}

	<ul>
		{#each crumbs as c, i (i)}
			<li>
				<a href="{$url(c.href)}" class="flex gap-2">
					<Fa icon="{c.icon}" />
					{c.name}</a
				>
			</li>
		{/each}
	</ul>
</div>
