<script>
	import DrawerMenu from "./DrawerMenu.svelte";
</script>

<div class="drawer overflow-hidden">
	<input id="sidebar" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content overflow-hidden">
		<slot name="content" />
	</div>
	<div class="drawer-side overflow-hidden">
		<label for="sidebar" class="drawer-overlay overflow-hidden w-screen">
		</label>
		<DrawerMenu />
	</div>
</div>
