<script>
	import Fa from "svelte-fa";
	import {
		faTruck,
		faBus,
		faPlus,
		faCalendar,
		faSackDollar,
		faChartBar,
		faFileLines,
		faCar,
		faCalendarDay,
		faCalendarWeek,
		faClipboardList,
		faRoute,
	} from "@fortawesome/free-solid-svg-icons";
	import { url } from "@roxi/routify";

	export const menu = [
		{
			header: "Гараж",
			icon: faCar,
			links: [
				{ 
					name: "Посмотреть расписание ТО",
					icon: faCalendar,
					url: $url("/vehicle/schedule/full")
				},
				{ 
					name: "Запланировать ТО",
					icon: faPlus,
					url: $url("/vehicle/schedule/new")
				},
				{ 
					name: "Все автомобили",
					icon: faCalendarWeek,
					url: $url("/vehicle/all") 
				},
				{ 
					name: "Добавить транспортное средство", 
					icon: faPlus,
					url: $url("/vehicle/new") 
				},
				{ 
					name: "Анализ транспортных средств", 
					icon: faChartBar,
					url: $url("/vehicle/analyze")
				}
			],
		},
		{
			header: "Грузоперевозки",
			icon: faTruck,
			links: [
				{
					name: "Заказ-наряды на сегодня",
					icon: faCalendarDay,
					url: $url("/cargo"),
				},
				{
					name: "Все заказ-наряды",
					icon: faCalendarWeek,
					url: $url("/cargo/schedule/full"),
				},
				{
					name: "Сформировать заказ-наряд",
					icon: faPlus,
					url: $url("/cargo/schedule/new"),
				},
				{
					name: "Зафиксировать выполнение",
					icon: faSackDollar,
					url: $url("/cargo/fixate"),
				},
				{
					name: "Заявки",
					icon: faClipboardList,
					url: $url("/cargo/order"),
				},
				{
					name: "Добавить заявку",
					icon: faPlus,
					url: $url("/cargo/order/new"),
				},
				{
					name: "Анализ",
					icon: faChartBar,
					url: $url("/cargo/analyze"),
				},
			],
		},
		{
			header: "Пассажироперевозки",
			icon: faBus,
			links: [
				{
					name: "Расписание на сегодня",
					icon: faCalendarDay,
					url: $url("/public"),
				},
				{
					name: "Полное расписание",
					icon: faCalendarWeek,
					url: $url("/public/schedule/full"),
				},
				{
					name: "Добавить смену",
					icon: faPlus,
					url: $url("/public/schedule/new"),
				},
				{
					name: "Зафиксировать смену",
					icon: faSackDollar,
					url: $url("/public/fixate"),
				},
				{
					name: "Маршруты",
					icon: faRoute,
					url: $url("/public/route"),
				},
				{
					name: "Добавить маршрут",
					icon: faPlus,
					url: $url("/public/route/new"),
				},
				{
					name: "Анализ",
					icon: faChartBar,
					url: $url("/public/analyze"),
				},
			],
		},
	];
</script>

<div class="flex flex-col w-1/3 p-4 bg-base-200 overflow-auto">
	<div class="self-center text-4xl m-4 mt-0">Меню</div>
	<ul class="menu">
		{#each menu as category, i}
			<li class="menu-title">
				<span class="flex gap-2">
					<Fa icon="{category.icon}" />
					{category.header}
				</span>
			</li>
			{#each category.links as item}
				<li>
					<a href="{item.url}" class="gap-2">
						<Fa icon="{item.icon}" />
						{item.name}
					</a>
				</li>
			{/each}
			{#if i !== menu.length - 1}
				<div class="border-b-2 border-base-300 w-full mb-2"></div>
			{/if}
		{/each}
	</ul>
</div>
