<script>
	import Fa from "svelte-fa";
	import {
		faBars,
		faCarAlt,
		faTruck,
		faBus,
	} from "@fortawesome/free-solid-svg-icons";
	import ThemeChangeButton from "./ThemeChangeButton.svelte";
	import { url } from "@roxi/routify";
</script>

<div class="navbar bg-base-200 p-4 min-h-fit">
	<div class="navbar-start gap-4">
		<label for="sidebar" class="btn btn-ghost btn-square drawer-button">
			<Fa icon="{faBars}" size="2x" />
		</label>
		<a href="{$url('/')}" class="btn btn-ghost normal-case text-xl">
			Автотранспортная компания
		</a>
	</div>
	<div class="navbar-end gap-2 lg:gap-4">
		<a href="{$url('/vehicle/all')}" class="btn btn-primary gap-2">
			<Fa icon="{faCarAlt}" />
			<span class="hidden lg:inline">Гараж</span>
		</a>
		<a href="{$url('/cargo')}" class="btn btn-primary gap-2">
			<Fa icon="{faTruck}" />
			<span class="hidden lg:inline">Грузовые</span>
		</a>
		<a href="{$url('/public')}" class="btn btn-primary gap-2">
			<Fa icon="{faBus}" />
			<span class="hidden lg:inline">Пассажирские</span>
		</a>
		<ThemeChangeButton />
	</div>
</div>
