<script>
	import { faCheckCircle, faX } from "@fortawesome/free-solid-svg-icons";
	import Fa from "svelte-fa";

	let alertMsg = "";
	let success = false;
	let showNotification = false;
	export function alertUser(message, error) {
		success = !error ?? true;
		alertMsg = message;

		showNotification = true;
		setTimeout(() => {
			showNotification = false;
		}, 2000);
	}
</script>

{#if showNotification}
	<div
		class:alert-error="{!success}"
		class:alert-success="{success}"
		class="alert absolute top-0 w-1/3 right-0 m-8"
	>
		<div class="w-full">
			<Fa icon="{success ? faCheckCircle : faX}" size="lg" />
			<span>{alertMsg}</span>
		</div>
	</div>
{/if}
