<script>
	let classes;
	export let tableClass = "";
	export { classes as class };
</script>

<div class="w-full overflow-auto {classes}">
	<table class="table table-zebra table-compact w-full {tableClass}">
		<thead>
			<slot name="th" />
		</thead>
		<slot name="tbody" />
	</table>
</div>
