<script>
	export let title, input, fn;
</script>

<div class="form-control w-full">
	<label class="label pt-0">
		<span class="label-text">{title}</span>
	</label>
	<input
		type="text"
		placeholder="576А, Фомина"
		class="input input-bordered w-full"
		bind:value="{input}"
		on:input="{fn}"
	/>
</div>
