.header-logo {
   float:left;
}
.header-subscr {
   float:left; position: relative; left: 15px; top: 20px;
}
.header-group {}
.header-btns {
  float:right;
  font-size:13px;
  vertical-align:middle;
}
.register_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
  -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
  background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
  background-color:#74ad5a;
  border:1px solid #3b6e22;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  
  font: normal 13px/28px Tahoma, sans-serif;
  padding:6px 20px 6px 20px;
  margin:0 2px 0 0;
  
  
  text-decoration:none;
}

.register_button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
  background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
  background-color:#68a54b;
}
.register_button:active {
  position:relative;
  top:1px;
}
.login_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  box-shadow:inset 0px 1px 0px 0px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  
  font: normal 13px/28px Tahoma, sans-serif;
  padding:6px 20px 6px 20px;
  margin:0 2px 0 0;
  
  text-decoration:none;
}
.login_button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}
.login_button:active {
  position:relative;
  top:1px;
}






.soc-pandia {
   width:650px;
   height:350px;
   float: none;
   display: block;
   margin: auto;
}
.soc-pandia_last {
   margin-top: 12px;
   margin-bottom: 10px;
   height: auto;
}
.soc-pandia__inner {
  margin:5px auto;
  width:300px;
}

.footer-table {
  width: 1100px;
}
.footer-table td {
  padding-right: 10px;
}
.footer-table__title {
   color: #FFF;
}
.footer-table__td_pd-top {
  margin-top: 18px;
}
.subscribe {
  width:600px;
  overflow: hidden;
  position:relative;
  top:1px;
  left:-30px;
  margin: 10px 0 40px 0;
}
.subscribe-links {
  float:left;
  width:500px;
  position:relative;
  left:5px;
  margin-top: 10px;
}
.subscribe-img {
  float:left;
  width:90px;
  padding-top: 2px;
}
/* .articlebody {
  padding-right: 325px;
} */
.bn-right {
  float: right;
  width:310px;
  /* min-width:310px;
  max-width:310px; */
  z-index: 10;
  position: relative;
  
}

	
.bn-gor {
  /* float:left; */
  width: 100%;
  margin:1px 1px 10px 2px;
  padding:0px;
  overflow: hidden;
}





.l-main {
  margin: 0 325px 0 0;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
}
.table-container::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  -webkit-appearance: none;
}
.table-container::-webkit-scrollbar-thumb {
  border: 3px solid #fff;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}
.qoutes-inner {
  float:left;
  width: 920px;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.fade {
opacity: 0;
-webkit-transition: opacity 0.15s linear;
-o-transition: opacity 0.15s linear;
transition: opacity 0.15s linear;
}
.fade.in {
opacity: 1;
}
.collapsing {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition-property: height, visibility;
-o-transition-property: height, visibility;
   transition-property: height, visibility;
-webkit-transition-duration: 0.35s;
-o-transition-duration: 0.35s;
   transition-duration: 0.35s;
-webkit-transition-timing-function: ease;
-o-transition-timing-function: ease;
   transition-timing-function: ease;
}
.navbar-collapse {
background-color:#333333;/* Цвет меню навигации */
overflow-x: visible;
padding-top: 3px;
padding-right: 15px;
padding-left: 15px;
}
.navbar-collapse.in {
overflow-y: auto;
}
@media (min-width: 768px) {
.navbar-collapse {
  width: auto;
  border-top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
}
.navbar-collapse.collapse {
  height: auto !important;
  overflow: visible !important;
}
.navbar-collapse.in {
  overflow-y: visible;
}
.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
}
.navbar-toggle {
position: absolute;
right: 0;
top: 20px;
/* float: right; */
margin-right: 15px;
padding: 9px 10px;
margin-top: 8px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid #fff;
border-radius: 4px;
cursor: pointer;
}
.navbar-toggle:focus {
outline: 0;
}
.navbar-toggle .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
background-color: #FFF;
}
.navbar-toggle .icon-bar + .icon-bar {
margin-top: 4px;
}
@media (min-width: 768px) {
.navbar-toggle {
  display: none;
}
}
.hide {
display: none !important;
}
.show {
display: block !important;
}
.hidden {
display: none !important;
}
#branding {
width: 100%;
height: 60px;
background-color: #ccc;
}
#content img {
max-width: 100%;
height: auto;
}



.header-search {
float:left; position: relative; left: 55px; top: 0px; width:700px; height:60px;
}

















@media (max-width:1199px) {
  .articlebody td {
    padding: 10px 5px !important;
  }
  #content table {
    max-width: 100% !important;
    width: auto !important;
  }
  .search-row {
    width: 400px;
  }
  .adsbygoogle {
    width: 100%;
  }
  .copyright-link {
    padding-right: 0;
  }
  .copyright-link_last {
    display: block;
  }
  input.gsc-input {
    width: 100% !important;
  }
  #container,
  .entry-content {
    min-width: 1px;
  }
  .entry-content {
    width: 100%;
  }
  .footer-table {
    width: 100%;
  }
  .articlebody {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .toparticlecatandauthor {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .author_profile_at_article {
    padding-bottom: 0;
  }
  #container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    float: none;
  }
}
/* end 1199px */



@media (max-width:991px) {

  .qoutes-inner {
    width: 100%;
  }
  .soc-pandia {
    width: 100%;
  }
  .l-main {
    margin-right: 0;
  }
  .bn-right {
    float: none;
    width: auto;
    max-width: 100%;
  }
  .toparticlecatandauthor {
    min-width: 1px;
  }
  input.gsc-input {
    width: 100% !important;
  }
  .search-row {
    width: 280px;
  }
  #content {
    margin-left: 0;
    margin-right: 0;
  }
  
.bn-right {
  display: none;
}
	
}
/* end 991px */

@media (max-width:767px) {
  .footer-table {
    font-size: 16px;
  }
  #site-info a {
    line-height: 1.4;
  }
  .navbar-toggle {
    margin-top: 0;
    margin-left: 30px;
  }
  .subscribe {
    width: 100%;
    left: 0;
  }
  .subscribe-img {
    float: none;
  }
  .subscribe-links {
    float: none;
    width: 100%;
    left: 0;
  }
  .inside_row2 {
    margin-left: 20px;
  }
  .header-btns {
    float: none;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 70px;
  }
  .header-search {
    left: 0;
    float: none;
    margin-top: 0;
  }
  #branding {
    height: auto;
    padding-bottom: 5px;
  }
  ul#cssmenu {
    height: auto;
  }
  ul#cssmenu li {
    float: none;
    display: inline-block;
  }
  .soc-pandia__inner {
    width: auto;
  }
  .articlebody {
    width: auto !important;
    max-width: 100% !important;
    min-width: 1% !important;
    padding-right: 15px;
  }
  .__lxG__multi {
    max-width: 1px;
    width: 100%;
  }
  .__lxG__multi iframe {
    width: 100%;
  }
  .bn-right {
    margin-left: -20px;
  }
  #content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
  #topcats {
    min-width: 1px;
  }
  .footer-table td {
    width: 100% !important;
    display: block;
  }
  .footer-table__title {
    margin-top: 20px;
    display: block;
    margin-bottom: -10px;
  }
}
/* end 767px */

@media (max-width:480px) {
  .header-group {
    overflow: hidden;
  }
  .header-btns {
    float: none;
  }
  .header-search {
    margin-top: 0;
  }
}

@media (max-width:368px) {
  .header-btns {
    margin-top: 0;
	
  }
}







.after-links {
  font-size: 15px;
  font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
  line-height: 1.7em;
  text-decoration: none;
  color: #743399;
  overflow: hidden;
  position:relative;
  margin: 0;
}


.after-links h1 { 
  margin: 50px 0 0 0 !important;
  color: black;
}

.after-links ul { 
  margin: 0 0 40px 0 !important;
  
}

.after-links li { 
  font-size: 14px !important;
  padding:0 5px 0 1px;
}






