

/* Search Form */

/*блок с поиском*/
.search-row {

padding: 0px !important;
height: 40px !important;


}
/*обнуляем все*/
div.gsc-input-box {
width: 50 !important;
height: 0 !important;
border: 0 !important;
}


div.gsc-control-cse,
div.gsc-control-cse div,
div.gsc-control-cse span,
div.gsc-control-cse form,
div.gsc-control-cse table,
div.gsc-control-cse tr,
div.gsc-control-cse td,
div.gsib_a,
div.gsc-control-cse input {
border: 0 !important;
padding: 0 !important;
margin: 0 !important;
outline: 0 !important;
}


.cse form.gsc-search-box, form.gsc-search-box {
background: none !important;
border: none !important;
-webkit-box-shadow: none !important;
}

div.gsc-control-cse table {
border-collapse: collapse;
border-spacing: 0;
}
/*блок с формой*/
div.gsc-control-cse {
background: transparent;
width: 520px !important;
}
/*текстовое поле*/
input.gsc-input {
position:relative !important;
bottom:0 !important;
top:-26px !important;
background: #FFF !important; /*скроет логотип и надпись с текстовом поле*/
*background: #fff !important; /*IE 7*/
border: 1px solid #999;
box-shadow: inset 0 0 1px 1px #666;
font: normal normal 16px/32px Tahoma, sans-serif;
font-size: 16px !important;
letter-spacing: 1px !important;
color: #000 !important;
margin: 0 !important;
padding: 0 0 0 10px !important;
height: 40px !important;
width: 520px !important; /*можно указать значение в px или %*/
}
input.gsc-input:focus {
background: #FFF !important;
outline: 0 !important;
}

input.gsc-input::placeholder {
  color: white !important;
}


/*кнопка поиска*/
input.cse .gsc-search-button-v2, .gsc-search-button-v2 {
position:relative;
right:20px !important;
top:-3px !important;
background: url(/pics/search32.png) 50% 50% no-repeat #F0F0F0 !important;
font: normal normal 0px sans-serif !important;
color: transparent !important;
border: 1px solid #666 !important;
height: 40px !important;
width: 80px !important;
}


input.cse .gsc-search-button-v2, .gsc-search-button-v2:hover {
background: url(/pics/search32.png) 50% 50% no-repeat #F0F0F0 !important;
border: 1px solid #E6E6E6;
}


/*кнопка удалить результаты*/

.gsc-clear-button {
display: none !important;
*display: none !important;
border: 0px solid #666 !important;
margin: 0px !important;
padding: 0px !important;
height: 0px !important;
width: 0px !important;
}
