﻿
body{
    background-color: #f7f7f7;
   } 
   
   

/*
Default margins between elements using "owl" selector.
*/
* + * {
  margin-top: 0rem;
}

/*
For browsers not supporting CSS Grid, set a sensible max-width
and center.
*/
.container {
  max-width: 56em;
  margin: 0 auto;
}
.container > * {
  border: 1px solid #e6e6fa;
  padding: 1rem;
  background: #fff;
}

/*
Use @supports to target only browsers supporting Grid.
*/
@supports (display: grid) {
  @media screen and (min-width: 30em) {
    .container {
      /*
      Reset default styles
      */
      margin: 0;
      max-width: none;
      
      /*
      Lay out our first grid.
      */
      display: grid;
      grid-template-rows: repeat(4, min-content);
      grid-template-columns: 1rem 1fr 1fr 1rem;
      grid-template-areas:
      " . header header . "
      " . content content . "
      " . aside1 aside2 . "
      " . footer footer . ";
      grid-gap: 1rem;
    }
    
    .container > * {
      /*
      Resets the default 'owl' selector.
      */
      margin: 0;
    }
    
    .header {
      grid-area: header;
    }
    .content {
      grid-area: content;
    }
    .aside1 {
      grid-area: aside1;
    }
    .aside2 {
      grid-area: aside2;
    }
    footer {
      grid-area: footer;
    }
  }
  
  @media screen and (min-width: 50em) {
    .container {
      grid-template-rows: repeat(4, min-content);
      grid-template-columns: 1rem 2fr 1fr 1rem;
      grid-template-areas:
      " . header header . "
      " . content content . "
      " . footer footer . ";
    }
  }
  
  @media screen and (min-width: 60em) {
    .container {
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: 1fr minmax(auto, 28em) minmax(auto, 28em) minmax(320px, 330px) 1fr;
      grid-template-areas:
      " . header header header . "
      " . content content aside2 . "
      " . footer footer footer. ";
    }
  }
}













.header-line{
	display: inline; 
	width:100%;
}


@media only screen and (max-width : 767px) {
	.header-line {
		height:100px;
	}
}







/* LOGO */
.logo{
	float: left;
	margin:7px 100px 0 20px;
	
}

.logo img{
	height:45px;
}






.navBar{
  background-color: #fff;
  text-transform: uppercase;
  margin:15px 0 0 0;
  

}



/*Floats each item to the left with padding of 14 & 16 px.
Removes the underline with text decoration = none.*/
.navBar a{

  color: #666666 !important;
  padding: 1px 5px;
  text-decoration: none;
  font: bold 12px/24px Helvetica Neue,Helvetica,Arial,Utkal,sans-serif !important;
  letter-spacing: 0.1pt;
}

/*Background color change during hover state*/
.navBar a:hover{
  color: #009cde !important;
}

/*Hides the menu Icon which will show when the nav needs to be responsive*/
.navBar .icon{
  display: none;
}

/*Set your custom screen width here replacing 700*/
@media (max-width: 800px){
/*Ignores the first link (which is Home) in the div and       applies 'display = none' to everything else.   Basically hiding everything but Home*/
  .navBar a:not(:first-child){
    display: none;
  }
/*Brings the menu icon into view and floats it to the right*/
  .navBar a.icon{
    display: block; float: right;
  }
  
/*The navBar class will be changed to 'navBar responsive' using JS. This chunk of CSS makes the menu icon stay where it is by making the position absolute within it's parent 'right top corner'. Without this, the icon will get kicked around when the items are collapsed and expanded*/
  .navBar.responsive {
    position: relative;
  }
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
/*Removes the originally set float and brings them to view*/
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width : 1290px){
	.navBar a{
	font-size:12px;
	
	margin:5px 0 5px 0;
	padding: 1px 5px;
	}
	
}


@media only screen and (max-width : 1080px){

.navBar{
  background-color: #fff;
  text-transform: uppercase;
  	line-height:0.3;
	margin:5px 0 5px 0;
	padding: 1px 5px;
}

.navBar a{
	font-size:12px;

	}
}





/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */



a:link {
	color: #0066cc;
	text-decoration:none;
}
a:visited {
	color: #743399;
	text-decoration:none;
}
a:active,
a:hover {
	color: #ff4b33;
	text-decoration:underline;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}






/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit] {
	font-family: Arial, Helvetica, sans-serif;
}
pre {
	font-family: Arial, Helvetica, sans-serif;
}
code {
	font-family: Arial, Helvetica, sans-serif;
}








/*
Footer
*/


.footer_text {
	margin:0 0 10px 0;
	font-family: sans-serif;
	font-size:13px;
	line-height:1.4;
	letter-spacing: 0.2px;
	}


@media only screen and (max-width : 767px) {
	.footer_text {
	font-size:12px;
	}
}
	




.footer_text a{
	color: #0645ad;
	font-family: sans-serif;
	text-decoration: none;
	font-size:13px;
	font-weight:normal;
	letter-spacing: 0.2px;
}

.footer_text a:hover {
	text-decoration: underline;
}


@media only screen and (max-width : 767px) {
	.footer_text a{
	font-size:12px;
	}
}







.content_header {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3em;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-bottom: 0px solid Gray;
    padding-bottom: 4px;
    letter-spacing: 0px;
    font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif !important;
}

@media only screen and (max-width : 767px) {
	.content_header {
	font-size:26px;
	}
}






/* =Стили для шорткодов.
-------------------------------------------------------------- */

.shortcodes {
	clear:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px; 
	line-height: 1.6em; 
	font-weight:normal; 
	color:#666666;
	margin-top:25px !important;
	margin-bottom:25px !important;
	margin-left:1px !important;
	margin-right:10px !important;
	padding:0px 0px 0px 0px; 
	vertical-align: center;
	}


.shortcodes td{
	text-align:center !important;
    vertical-align:middle !important;
	font-size:13px !important;
	padding:10px 20px 10px 20px !important;
	line-height:1.7;
	font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	}

	
	


/* =Наборы цветовых сочетаний ячеек для шорткодов
-------------------------------------------------------------- */
.td1 {background: #EBEFF9;
	text-align:center; 
    vertical-align:middle;
	}

.td2 {background: #F8F7F2;
	vertical-align: top;
	font-size:12px;}


	

.td3 {background: #EBEFF9;
	text-align:center; 
    vertical-align:middle;
	}

.td4 {background: #F8F7F2;
	vertical-align: top;
	font-size:12px;}


	/* =для вертикальных вариантов таблички -- */

	
.td5 {background: #EBEFF9;
	text-align:center; 
    vertical-align:middle;
	}

.td6 {background: #D2B48C;
	vertical-align: top;
	font-size:12px;}

	
		/* =используется в шорткоде a1022 Страны и регионы -- */
.td7 {background: #F3F8FB;
 	text-align:center;
	
    vertical-align: middle;
	}

.td8 {background: #CFDFFF;
	vertical-align: middle;
	font-size:11px;}



		/* =используется в перелистовках text -- */
.td9,
.td9 td
{background: #FFF !important;
 	text-align:center !important;
    vertical-align: middle !important;
	padding:0 5px 0 0 !important;
	}
	
.td9 img {
	height:25px;
}

.td10,
.td10 td{
	background: #f2f2f2 !important;
	text-align:center !important;
    vertical-align:middle !important;
	font-size:13px !important;
	padding:10px 40px 10px 40px !important;
	line-height:1.7;
	font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	}
	
		/* =используется в перелистовках карты сайта http://pandia.ru/text/77/228/1.php -- */
.td11 {background: #F3F8FB;
 	text-align:center;
    vertical-align: middle;
	}

.td12 {background: #D7FFC7;
	text-align:center; 
    vertical-align:middle;
	font-size:11px;}

	
		/* = объявление для карты сайта http://pandia.ru/text/77/228/1.php-- */
.td13 {background: #FFF;
	text-align:center; 
    vertical-align:middle;
	}

.td14 {background: #FFF;
	vertical-align: top;
	font-size:12px;}
	
	
	
	
.td15 {background: #FFF;
	  vertical-align:top;
	}


	/* =Оформление алфавита рубрик на главной
-------------------------------------------------------------- */	
.td16 {background: #FFF;
	font-size:14px;
	font-weight:bold;
	color: #D62002;
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom: 5px;
	}
	
hr.td16 {
	border-bottom: 1px dotted #386749;
	text-align: left;
	margin-left:-15px;
	margin-right:10px;
	}







/* = Прописка css в верхние заголовки под главным заголовком статьи */

.toparticlecatandauthor	{
	float: left;
	max-width:100%;
	min-width:795px;
	min-height:50px;
	/*max-height:70px; */ /* = Ограничить высоту блока ссылок на рубрики над статей */
	margin: 1px 30px 10px 0; /* Отступы */
	padding:2px 3px 5px 1px;
	display: inline;
	border: 0px solid #D6D3D3;
	border-bottom: 0px solid whitesmoke;
	border-radius: 0px;
	position:relative;           
	z-index:1;
	
}


.author_profile_at_article	{
	
	float: left;
	position:relative;
	background-color:#FFF;
	margin:0 15px 0 0;
	min-width:100px;
	padding:2px 20px 10px 0px;
	
	}

#apaa_1	{
	float: left;
	padding:0 5px 0 0;
	display: inline-block;
    width:1px;
	height:1px;
    overflow: hidden;
    border: 0px;
    background: #FFFFFF;
    
    
	}
	
#apaa_1	img {
	
	display: none;
    
	
	 }

#apaa_2	{
	float: left;
	padding:0 2px -15px 0px;
	font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif !important;
	font-size:14px;
	font-weight:bold;
	color:black;
	}
	
#apaa_2	a{
	color:black;
	}

#apaa_3 {
	margin:18px 0 0 4px;
	}
	
#apaa_3:before {
	float:left;
	content:"Автор";
	padding:1px 2px 5px 2px;
	font-size:12px;
	font-weight:normal;
	color:#666666;
	
	}


@media only screen and (max-width : 768px) {
#apaa_3:before {
	content:"Автор";
	font-size:12px !important;

	}
}



	
.topcatblock {
	display: inline;
	}


#topcats {
	margin: 0 4px 2px 0; /* Отступы */
    font-size: 12px; /* Размер шрифта */	
	line-height: 1.5em;
	}


@media only screen and (max-width : 768px) {
	#topcats {
	font-size:14px;
	}
}



  #topcats img {
	margin: 4px 0 0 0; /* Отступы */
	height: 10px;
	}

#topcats a {
		color: #778899;
		background-color:#FFF;
        text-decoration: none;
		}

#topcats a:hover{
		color: red;
		text-decoration: underline;
        }
		
		
		


.inside_row {
	margin:1px 0 10px 20px;
	display:inline-block;
	}

.inside_row  a{
	text-decoration: underline;
    border-bottom: 1px dashed #000080;
    color: #f00000;
	vertical-align:middle;
   }
   
.inside_row  a:hover {
	color: red;
	text-decoration: none;
	border-bottom: 1px dashed #CCC;
    }

.inside_row:before{
	content: '';
	background: url(../../../pics/green-24.png);
	background-repeat:no-repeat;
	float: left; 
	position: relative;
	z-index:100000;
    left: -10px;
    top: -10px;
	display: block;  
	height:50px;
	width:50px;
}
   

   

   
   
   
   
   
		
.inside_row2 {
	display:inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif !important;
	margin:1px 0 10px 150px;
	}

.inside_row2 a{
	font-size:14px !important;
	text-decoration: none !important;
    border-bottom: 1px dashed #000080;
	vertical-align:middle;
	
   }
   
.inside_row2 a:hover {
	color: red !important;
	text-decoration: none !important;
	border-bottom: 1px dashed #CCC !important;
    }

.inside_row2 a:visited {
    color: rgb(29, 103, 164); /* Цвет посещенных ссылок */
   }

.inside_row2:before{
	content: '';
	background: url(../../../pics/green-24-2.png);
	background-repeat:no-repeat;
	float: left; 
	position: relative;
	z-index:100000;
    left: -10px;
    top: -10px;
	display: block;  
	height:50px;
	width:50px;
}
   
   
   







/* ------------------------ 
Стиль тела самой статьи
------------------------*/
.articlebody  { 
	font-size:15px; /* Шрифт самой статьи*/
	line-height:1.5 !important;
	overflow: auto !important;
	padding:2px;
	}

@media only screen and (max-width : 768px) {
	.articlebody  { 
	font-size:12px !important;
	}
}



.articlebody span 
	{ 	
	margin-left:0pt !important;
	position:static !important;
	font-size: 15px !important;
	font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif !important;
	}

@media only screen and (max-width : 768px) {
	.articlebody span { 
	font-size:13px !important;
	}
}




.articlebody p 
	{ 	
	margin-left:0pt !important;
	margin: 1.1em 0;
	line-height:1.5 !important;
	
	}




.articlebody  table{ 	
	
	background-color: #fff !important; /* Цвет таблицы в статьях */
	border-collapse: collapse !important;
	border: 0px !important;
	border-left: 0px solid #417ac9 !important;
	margin-top:20px !important;
	margin-bottom:20px !important;
	margin-left:0 !important;
	width:auto;
	
	max-height:700px !important;
	font-size:12px !important;
	
    }


.articlebody  td{
	vertical-align: top !important;
	text-align: left !important;
	border: 1px solid #ddd !important;
	margin-left:0pt !important;
	
	padding:3px !important;
	margin:0px !important;
	font-size:12px !important;
	font-family: Arial, Helvetica, sans-serif !important;
}



.articlebody  tr:hover{
	background: #f7f7f7;
	}


.articlebody  td p{
	margin:0 !important;
	padding:0 5px 0 15px !important; /* Отступы внутри ячеек */
	font-size:14px !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

.articlebody  td span{
	margin:0 !important;
	padding:0 !important;
	font-size:14px !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

.articlebody  td{
	margin:0 0 5px 0 !important;
	padding:10px 5px 10px 5px5px !important;
	font-size: 12px !important;
	font-weight: normal !important;
}

.articlebody h1
	{ 	
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 7px;	
	margin-top: 10px;
	margin-left: 3px;
	border-bottom: 1px solid #ccc !important;
	line-height:1.3;
	}

.articlebody  h2 {
	font-size: 20px !important;
	margin: 60px 15px 0px 0px !important;
	padding: 0 0 0 15px !important;
	border-left: 2px solid #417ac9;
  
}


.articlebody  h2  b{
	font-size: 12px !important;
	margin: 40px 15px 40px 5px;
	padding: 0 0 6px 20px;
	border-left: 1px solid #417ac9;
  
}


.articlebody  h3{
	font-size: 12px !important;
	font-weight: bold !important;
}

.articlebody  td h3{
	font-size: 12px !important;
	font-weight: bold !important;
}

.articlebody  td ul{
	font-size: 12px !important;
	
}


.articlebody  img{ 
	margin:10px;
	}


.articlebody a:link {
	color: #0000EE;
	text-decoration:none;
}
.articlebody a:visited {
	color: #0000EE;	/*color: #551A8B; */ 
	text-decoration:none;
}
.articlebody a:active,
.articlebody a:hover {
	color: #ff4b33;
	text-decoration:underline;
}





/* =Резервная ссылка
-------------------------------------------------------------- */ 



.reserv_link a
 {
	font-size:13px !important;
	color: #bbb !important;
	text-decoration:none !important;
}





/* =Спойлеры Spoilers
-------------------------------------------------------------- */ 
 
 
.spoiler-wrap{
	clear:both; 
	width:100%;

	margin:1px 0 0 0; 
	padding:1px;
	border: 1px solid #CCC;
	font-family: sans-serif;
	font-size: 1px;
	}

.spoiler-head {
	margin:0; 
	padding:5px 0;
	font-size: 13px;
	font-weight:bold;
	text-align:center;
	}

@media only screen and (max-width : 767px) {
	.spoiler-head {
	font-size: 12px;
	}
}


	

.spoiler-head img{
	height:14px;
	float:left;
	margin:0 0 0 5px;
	}
	
 
.spoiler-body {
	clear:left;
	margin:0px;
	padding:10px;
	line-height:2;
	font-size:12px;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-weight: normal;
	}


.spoiler-body td{
	vertical-align: top;
	}

	
.spoiler-body a{
	color:#0066cc;
	}

	
.spoiler-body hr{
	height: 1px;
	border: none;
	color: #eee;
	background: #eee;
	margin:10px 0; /* устраняем начальный отступ для всех браузеров (в ие6 не работает) */
}


.spoiler-body table h2 {
    margin: 10px 0 25px 0 !important;
    color: black;
    font-size: 26px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif !important;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc !important;
    line-height: 1.3;
}

.spoiler-body h3{
	margin:0px;
	}


	
	
	
	


.after_article_reference {
  font-size: 15px;
  font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
  line-height: 1.7em;
  text-decoration: none;
  overflow: hidden;
  position:relative;
  margin: 0;
}




.after_article_reference h1 { 
  margin: 20px 0 5px 0 !important;
  color: black;
  font-size: 26px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif !important;
	padding-bottom: 7px;	
	border-bottom: 1px solid #ccc !important;
	line-height:1.3;
}


.after_article_reference h2 { 
  margin: 10px 0 5px 0 !important;
  color: black;
  font-size: 26px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif !important;
	padding-bottom: 7px;	
	border-bottom: 1px solid #ccc !important;
	line-height:1.3;
}


.after_article_reference ul { 
  margin: 0 0 40px 0 !important;
  
}

.after_article_reference li { 
  font-size: 14px !important;
  padding:0 5px 0 1px;
  line-height: 1.4em;
  margin-top:2px;
}


@media only screen and (max-width : 767px) {
	.after_article_reference li { 
	font-size: 12px !important;
	margin:1px 0 10px 0;
	}
}



.after_article_reference img { 
	max-width:30px;
	max-height:30px;
}














.myButtonNauka1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline;
	cursor:pointer;
	color:#ffffff !important;
	font-family: Arial;
	font-size:16px;
	font-weight:bold;
	letter-spacing: 0.1pt;
	padding:10px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.myButtonNauka1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
	color:#ffffff !important;
}
.myButtonNauka1:active {
	position:relative;
	top:1px;
	color:#ffffff !important;
}






.myButtonNauka2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.myButtonNauka2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
	color:#ffffff !important;
}
.myButtonNauka2:active {
	position:relative;
	top:1px;
	color:#ffffff !important;
}










/* =Стили для шорткодов в категории.
-------------------------------------------------------------- */

.categ-shortcodes table {
	clear:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px; 
	line-height: 1.6em; 
	font-weight:normal; 
	color:#000000;
	margin-top:25px !important;
	margin-bottom:25px !important;
	margin-left:1px !important;
	margin-right:10px !important;
	padding:0px 0px 0px 0px;
	vertical-align: center;
	border: 0px solid #ddd !important;
	}
	
	
/* =Category link navigation
-------------------------------------------------------------- */

.categ-navigation {
	color: black !important;
	font-size: 18px;
	line-height: 40px;
	overflow: hidden;
	border: 0px solid #ddd !important;
	padding: 5px 15px;
	}




.categ-navigation .nav_ext{
	padding: 12px;
	}
	
.categ-navigation .nav_current{
	color: black !important;
	background-color: #CCC !important;
	padding: 14px !important;
	border-radius: 5px !important;
	font-size: 18px !important;
	}

.categ-navigation a:link,
.categ-navigation a:visited {
	color: black !important;
	text-decoration: none;
	}

	.categ-navigation a:active {
	}
	
.categ-navigation a:hover {
	color: red;
	border: 0px solid #DFB14F;
	background-color: #CCC !important;
	border-radius: 5px;
	}
	
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


.nav_grand_block {
	
	text-align: left;
	width: 100%;
	color: grey !important;
	font-size: 14px;
	margin: 0 0 0 10px;
	
}

.nav_grand {
	
	text-align: left;
	width: 100%;
	color: grey !important;
	font-size: 12px;
	
	
	margin: 0 10px 0 0;
}


