<script>
	import { onMount } from "svelte";
	import Fa from "svelte-fa";
	import { url } from "@roxi/routify";
	import { faPlus, faXmark, faCheck } from "@fortawesome/free-solid-svg-icons";
	import LoadingScreen from "../../../components/loading/LoadingScreen.svelte";
	import Search from "../../../components/Search.svelte";
	import OverflowTable from "../../../components/OverflowTable.svelte";
	import { getAllInspection } from "../../../api/vehicle";
	import { parseDate } from "../../../date";

	let inspectionResults;

	let userInput = "",
		filtered;
	const filterItems = () => {
		if (!inspectionResults) return;

		let input = userInput.toLowerCase();

		if (input.length <= 2) {
			filtered = null;
			return;
		}

		filtered = inspectionResults.filter((item) => {
			let passed = false;

			for (const [_, value] of Object.entries(item)) {
				let s = value.toString().toLowerCase();
				if (s.indexOf(input) !== -1) {
					passed = true;
					break;
				}
			}
			return passed;
		});
	};

	onMount(() => {
		getAllInspection().then((data) => {
			inspectionResults = data;
			filterItems();
		});
	});
</script>

<div class="flex flex-col grow overflow-hidden">
	{#if inspectionResults}
		<div class="flex bg-base-200 p-4 mb-4 rounded-box place-items-end gap-4">
			<Search
				title="Поиск результатов ТО"
				bind:input="{userInput}"
				fn="{filterItems}"
			/>
			<div
				class="tooltip tooltip-success tooltip-left"
				data-tip="Добавить результат ТО"
			>
				<a href="{$url('/vehicle/inspection/new')}" class="btn btn-success">
					<Fa icon="{faPlus}" />
				</a>
			</div>
		</div>
		<div class="flex w-full grow overflow-hidden bg-base-200 rounded-box p-4">
			<OverflowTable class="shadow-base-300 shadow-lg">
				<tr slot="th" class="sticky top-0 z-50">
					<th>Дата прохождения</th>
					<th>Запланированная дата</th>
					<th>Статус ТО</th>
					<th>Пробег</th>
					<th>Номер</th>
					<th>Дополнительная информация</th>
				</tr>
				<tbody slot="tbody">
					{#each filtered || inspectionResults as ir}
						<tr>
							<td>{parseDate(ir.result_date)}</td>
							<td>{parseDate(ir.schedule_date)}</td>
							<td>
								{#if ir.passed}
									<Fa icon="{faCheck}" /> 
								{:else}
									<Fa icon="{faXmark}" />
								{/if}
							</td>
							<td>{ir.mileage}</td>
							<td>{ir.plate}</td>
							<td>{ir.additional_info}</td>
						</tr>
					{/each}
				</tbody>
			</OverflowTable>
		</div>
	{:else}
		<LoadingScreen class="self-center" />
	{/if}
</div>
