<script>
	import { onMount } from "svelte";
	import { newInspection, getNotFinishedSchedule  } from "../../../api/vehicle";
	import { parseDate } from "../../../date";
	import Notification from "../../../components/Notification.svelte";

	let cars = null;
    let notFinishedSchedules = null;

	onMount(() => {
		getNotFinishedSchedule().then((data) => {
			notFinishedSchedules = data;
		});
	});

	let data = {
		date: new Date(),
		passed: false,
        mileage: 0,
        additional_info: "",
        id_inspection_schedule: 5
	};

	function postNewInspection() {
		newInspection(data).then((res) => {
			if (res?.error) {
				alertUser("Произошла ошибка записи", true);
				return;
			}
			alertUser("Результат ТО записан ");
		});
	}

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">Новый результат ТО</div>
	<div class="grid grid-cols-2 gap-8 bg-base-200 p-4 rounded-box w-3/4">
		<div class="form-control w-full max-w-md">
			<label class="label" for="car">
				<span class="label-text">Выберите запланированное ТО</span>
			</label>
			<select
				class="select select-bordered"
				name="car"
				id="car"
				bind:value="{data.id_inspection_schedule}"
			>
				{#if notFinishedSchedules}
					{#each notFinishedSchedules as s}
						<option value="{s.schedule_id}">
							{parseDate(s.schedule_date)} {s.plate} ({s.brand} - {s.model})
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="date">
				<span class="label-text">Выберите Дату</span>
			</label>
			<input
				type="date"
				class="input input-bordered"
				name="date"
				id="date"
				bind:value="{data.date}"
			/>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="passed">
				<span class="label-text">Выберите пройдено ли ТО</span>
			</label>
			<select
				class="select select-bordered"
				name="passed"
				id="passed"
				bind:value="{data.passed}"
			>
				<option value="true">
					Пройдено
				</option>
				<option value="true">
					Не пройдено
				</option>
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="brigade">
				<span class="label-text">Введите дополнительную информацию</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="additional_info"
				id="additional_info"
				bind:value="{data.additional_info}"
			/>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="brigade">
				<span class="label-text">Введите пробег</span>
			</label>
			<input
				type="number"
				class="input input-bordered"
				name="mileage"
				id="mileage"
				bind:value="{data.mileage}"
			/>
		</div>
		<button class="btn btn-primary col-span-full" on:click="{postNewInspection}"
			>Добавить результат</button
		>
	</div>
</div>
