<script>
	import { onMount } from "svelte";
	import LoadingScreen from "../../../components/loading/LoadingScreen.svelte";
	import { getRoutes, getSchedule } from "../../../api/public";
	import { url } from "@roxi/routify";
	import Search from "../../../components/Search.svelte";
	import { faPlus } from "@fortawesome/free-solid-svg-icons";
	import Fa from "svelte-fa";
	import OverflowTable from "../../../components/OverflowTable.svelte";

	let routes;

	let userInput = "",
		filtered;
	const filterItems = () => {
		if (!routes) return;

		let input = userInput.toLowerCase();

		filtered = routes.filter((item) => {
			let passed = false;

			for (const [_, value] of Object.entries(item)) {
				let s = value.toString().toLowerCase();
				if (s.indexOf(input) !== -1) {
					passed = true;
					break;
				}
			}
			return passed;
		});
	};

	onMount(() => {
		getRoutes().then((data) => {
			routes = data;
			filterItems();
		});
	});
</script>

<div class="flex flex-col grow overflow-hidden">
	{#if routes}
		<div class="flex bg-base-200 p-4 mb-4 rounded-box place-items-end gap-4">
			<Search
				title="Поиск по маршрутам"
				bind:input="{userInput}"
				fn="{filterItems}"
			/>
			<div
				class="tooltip tooltip-success tooltip-left"
				data-tip="Добавить маршрут"
			>
				<a href="{$url('/public/route/new')}" class="btn btn-success">
					<Fa icon="{faPlus}" />
				</a>
			</div>
		</div>
		<div class="flex w-full grow overflow-hidden bg-base-200 rounded-box p-4">
			<OverflowTable class="shadow-base-300 shadow-lg">
				<tr slot="th" class="sticky top-0 z-50">
					<th></th>
					<th>Маршрут</th>
					<th>Цена</th>
					<th>Начальная остановка</th>
					<th>Конечная остановка</th>
				</tr>
				<tbody slot="tbody">
					{#each filtered || routes as r}
						<tr>
							<td>{r.id_route}</td>
							<td>{r.short_name}</td>
							<td>{r.price}</td>
							<td>{r.start_name}</td>
							<td>{r.stop_name}</td>
						</tr>
					{/each}
				</tbody>
			</OverflowTable>
		</div>
	{:else}
		<LoadingScreen class="self-center" />
	{/if}
</div>
