<script>
	import { newRoute } from "../../../api/public";
	import Notification from "../../../components/Notification.svelte";

	let data = {
		short_name: null,
		price: null,
		start_name: null,
		stop_name: null,
	};

	function postNewRoute() {
		newRoute(data).then((res) => {
			if (res?.error) {
				alertUser(
					"Ошибка при добавлении маршрута: " + JSON.stringify(res.error),
					true
				);
				return;
			}
			alertUser("Маршрут добавлен");
		});
	}

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">Новый маршрут</div>
	<div class="grid grid-cols-2 gap-8 bg-base-200 p-4 rounded-box w-3/4">
		<div class="form-control w-full max-w-md">
			<label class="label" for="route_name">
				<span class="label-text">Название</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="route_name"
				id="route_name"
				size="4"
				bind:value="{data.short_name}"
				placeholder="938К"
			/>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="price">
				<span class="label-text">Цена</span>
			</label>
			<input
				type="number"
				class="input input-bordered"
				name="price"
				id="price"
				pattern="[0-9]+"
				min="0"
				bind:value="{data.price}"
				placeholder="32"
			/>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="start_name">
				<span class="label-text">Начальная остановка</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="start_name"
				id="start_name"
				bind:value="{data.start_name}"
				placeholder="Ельцина"
			/>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="stop_name">
				<span class="label-text">Конечная остановка</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="stop_name"
				id="stop_name"
				bind:value="{data.stop_name}"
				placeholder="Гагарина"
			/>
		</div>
		<button class="btn btn-primary col-span-full" on:click="{postNewRoute}">
			Добавить
		</button>
	</div>
</div>
