<script>
	import Fa from "svelte-fa";
	import {
		faBars,
		faFile,
		faDownload,
	} from "@fortawesome/free-solid-svg-icons";
	import ThemeChangeButton from "./ThemeChangeButton.svelte";
	import { url } from "@roxi/routify";
</script>

<div class="navbar bg-base-200 p-4 min-h-fit">
	<div class="navbar-start gap-4">
		<label for="sidebar" class="btn btn-ghost btn-square drawer-button">
			<Fa icon="{faBars}" size="2x" />
		</label>
		<a href="{$url('/')}" class="btn btn-ghost normal-case text-xl">
			Хранилище
		</a>
	</div>
	<div class="navbar-end gap-2 lg:gap-4">
		<a href="{$url('/files')}" class="btn btn-primary gap-2">
			<Fa icon="{faFile}" />
			<span class="hidden lg:inline">Файлы</span>
		</a>
		<a href="{$url('/files/getfile')}" class="btn btn-primary gap-2">
			<Fa icon="{faDownload}" />
			<span class="hidden lg:inline">Скачать файл</span>
		</a>
		<ThemeChangeButton />
	</div>
</div>
