<script>
	import Fa from "svelte-fa";
	import { faSun, faMoon } from "@fortawesome/free-solid-svg-icons";

	import { onMount } from "svelte";
	import { themeChange } from "theme-change";

	// For extra classes
	let css_class = "";
	export { css_class as class };

	let htmlElement = document.documentElement;
	const tailwindDark = () => {
		if (
			localStorage.theme === "dark" ||
			(!("theme" in localStorage) &&
				window.matchMedia("(prefers-color-scheme: dark)").matches)
		) {
			htmlElement.classList.add("dark");
		} else {
			htmlElement.classList.remove("dark");
		}
	};

	let currentTheme = localStorage.theme || "light";
	let icon = currentTheme === "light" ? faMoon : faSun;

	// NOTE: the element that is using one of the theme attributes must be in the DOM on mount
	onMount(() => {
		themeChange(false); // false parameter is required for svelte
		tailwindDark();
	});
</script>

<button
	class="btn btn-square btn-ghost {css_class}"
	data-toggle-theme="pastel,dark"
	on:click="{() => {
		icon = icon === faMoon ? faSun : faMoon;
		htmlElement.classList.toggle('dark');
	}}"
>
	<Fa icon="{icon}" size="lg" />
</button>
