<script>
	import { onMount } from "svelte";
	import LoadingScreen from "../../../components/loading/LoadingScreen.svelte";
	import { getSchedule } from "../../../api/public";
	import { parseDate } from "../../../date";
	import { url } from "@roxi/routify";
	import Search from "../../../components/Search.svelte";
	import { faPlus } from "@fortawesome/free-solid-svg-icons";
	import Fa from "svelte-fa";
	import Breadcrumbs from "../../../components/Breadcrumbs.svelte";
	import OverflowTable from "../../../components/OverflowTable.svelte";

	let schedules;

	let userInput = "",
		filtered;
	const filterItems = () => {
		if (!schedules) return;

		let input = userInput.toLowerCase();

		if (input.length <= 2) {
			filtered = null;
			return;
		}

		filtered = schedules.filter((item) => {
			let passed = false;

			for (const [_, value] of Object.entries(item)) {
				let s = value.toString().toLowerCase();
				if (s.indexOf(input) !== -1) {
					passed = true;
					break;
				}
			}
			return passed;
		});
	};

	onMount(() => {
		getSchedule().then((data) => {
			schedules = data;
			filterItems();
		});
	});
</script>

<div class="flex flex-col grow overflow-hidden">
	{#if schedules}
		<div class="flex bg-base-200 p-4 mb-4 rounded-box place-items-end gap-4">
			<Search
				title="Поиск по расписанию"
				bind:input="{userInput}"
				fn="{filterItems}"
			/>
			<div
				class="tooltip tooltip-success tooltip-left"
				data-tip="Добавить смену"
			>
				<a href="{$url('/public/schedule/new')}" class="btn btn-success">
					<Fa icon="{faPlus}" />
				</a>
			</div>
		</div>
		<div class="flex w-full grow overflow-hidden bg-base-200 rounded-box p-4">
			<OverflowTable class="shadow-base-300 shadow-lg">
				<tr slot="th" class="sticky top-0 z-50">
					<th></th>
					<th>Дата</th>
					<th>Маршрут</th>
					<th>Цена</th>
					<th>Авто</th>
					<th>Бригада</th>
					<th>Начальная остановка</th>
					<th>Конечная остановка</th>
				</tr>
				<tbody slot="tbody">
					{#each filtered || schedules as schedule}
						<tr>
							<td>{schedule.id_schedule}</td>
							<td>{parseDate(schedule.schedule_date)}</td>
							<td>{schedule.short_name}</td>
							<td>{schedule.price}</td>
							<td>{schedule.plate}</td>
							<td>{schedule.id_brigade}</td>
							<td>{schedule.start_name}</td>
							<td>{schedule.stop_name}</td>
						</tr>
					{/each}
				</tbody>
			</OverflowTable>
		</div>
	{:else}
		<LoadingScreen class="self-center" />
	{/if}
</div>
