<script>
	import { onMount } from "svelte";
	import { getRoutes, newSchedule } from "../../../api/public";
	import { getBrigades } from "../../../api/common";
	import { getCars } from "../../../api/cars";
	import Notification from "../../../components/Notification.svelte";

	let routes = null;
	let brigades = null;
	let cars = null;
	onMount(() => {
		getRoutes().then((data) => {
			routes = data;
		});
		getBrigades().then((data) => {
			brigades = data;
		});
		getCars().then((data) => {
			cars = data;
		});
	});

	let data = {
		id_route: 5,
		id_brigade: 5,
		id_vehicle: 5,
		date: new Date(),
	};

	function postNewSchedule() {
		newSchedule(data).then((res) => {
			if (res?.error) {
				alertUser("Машина не прошла ТО!", true);
				return;
			}
			alertUser("Смена добавлена");
		});
	}

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">Новая смена</div>
	<div class="grid grid-cols-2 gap-8 bg-base-200 p-4 rounded-box w-3/4">
		<div class="form-control w-full max-w-md">
			<label class="label" for="route">
				<span class="label-text">Выберите Маршрут</span>
			</label>
			<select
				class="select select-bordered"
				name="route"
				id="route"
				bind:value="{data.id_route}"
			>
				{#if routes}
					{#each routes as r}
						<option value="{r.id_route}">
							{r.short_name} ({r.start_name}-{r.stop_name}, {r.price}₽)
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="brigade">
				<span class="label-text">Выберите Бригаду</span>
			</label>
			<select
				class="select select-bordered"
				name="brigade"
				id="brigade"
				bind:value="{data.id_brigade}"
			>
				{#if brigades}
					{#each brigades as b}
						<option value="{b.id}">
							{b.id} ({b.workers})
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="car">
				<span class="label-text">Выберите Транспортное Средство</span>
			</label>
			<select
				class="select select-bordered"
				name="car"
				id="car"
				bind:value="{data.id_vehicle}"
			>
				{#if cars}
					{#each cars as c}
						<option value="{c.id}">
							{c.plate} ({c.brand} - {c.model})
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="date">
				<span class="label-text">Выберите Дату</span>
			</label>
			<input
				type="date"
				class="input input-bordered"
				name="date"
				id="date"
				bind:value="{data.date}"
			/>
		</div>
		<button class="btn btn-primary col-span-full" on:click="{postNewSchedule}"
			>Назначить</button
		>
	</div>
</div>
