<script>
	import { onMount } from "svelte";
	import { getTodaySchedule } from "../../../api/public";
	import LoadingScreen from "../../../components/loading/LoadingScreen.svelte";
	import OverflowTable from "../../../components/OverflowTable.svelte";
	import { parseDate } from "../../../date";

	let todaySchedule = null;
	onMount(() => {
		getTodaySchedule().then((data) => {
			todaySchedule = data;
		});
	});
</script>

{#if todaySchedule}
	<h1 class="text-accent p-4 text-xl pt-0 font-bold text-center">
		Маршруты на сегодня
	</h1>
	<OverflowTable class="shadow-base-300 shadow-lg">
		<tr slot="th" class="sticky top-0 z-50">
			<th></th>
			<th>Дата</th>
			<th>Маршрут</th>
			<th>Цена</th>
			<th>Авто</th>
			<th>Бригада</th>
			<th>Начальная остановка</th>
			<th>Конечная остановка</th>
		</tr>
		<tbody slot="tbody">
			{#each todaySchedule as schedule}
				<tr>
					<td>{schedule.id_schedule}</td>
					<td>{parseDate(schedule.schedule_date)}</td>
					<td>{schedule.short_name}</td>
					<td>{schedule.price}</td>
					<td>{schedule.plate}</td>
					<td>{schedule.id_brigade}</td>
					<td>{schedule.start_name}</td>
					<td>{schedule.stop_name}</td>
				</tr>
			{/each}
		</tbody>
	</OverflowTable>
{:else}
	<LoadingScreen />
{/if}
