<script>
	import { onMount } from "svelte";
	import Fa from "svelte-fa";
	import { faPlus } from "@fortawesome/free-solid-svg-icons";
	import { url } from "@roxi/routify";
	import LoadingScreen from "../../../components/loading/LoadingScreen.svelte";
	import Search from "../../../components/Search.svelte";
	import OverflowTable from "../../../components/OverflowTable.svelte";
	import { getSchedule } from "../../../api/vehicle";
	import { parseDate } from "../../../date";

	let inspectionOrders;

	let userInput = "",
		filtered;
	const filterItems = () => {
		if (!inspectionOrders) return;

		let input = userInput.toLowerCase();

		if (input.length <= 2) {
			filtered = null;
			return;
		}

		filtered = inspectionOrders.filter((item) => {
			let passed = false;

			for (const [_, value] of Object.entries(item)) {
				let s = value.toString().toLowerCase();
				if (s.indexOf(input) !== -1) {
					passed = true;
					break;
				}
			}
			return passed;
		});
	};

	onMount(() => {
		getSchedule().then((data) => {
			inspectionOrders = data;
			filterItems();
		});
	});
</script>

<div class="flex flex-col grow overflow-hidden">
	{#if inspectionOrders}
		<div class="flex bg-base-200 p-4 mb-4 rounded-box place-items-end gap-4">
			<Search
				title="Поиск по ТО"
				bind:input="{userInput}"
				fn="{filterItems}"
			/>
			<div
				class="tooltip tooltip-success tooltip-left"
				data-tip="Запланировать ТО"
			>
				<a href="{$url('/vehicle/schedule/new')}" class="btn btn-success">
					<Fa icon="{faPlus}" />
				</a>
			</div>
		</div>
		<div class="flex w-full grow overflow-hidden bg-base-200 rounded-box p-4">
			<OverflowTable class="shadow-base-300 shadow-lg">
				<tr slot="th" class="sticky top-0 z-50">
					<th>Дата</th>
					<th>Марка</th>
					<th>Модель</th>
					<th>Номер</th>
				</tr>
				<tbody slot="tbody">
					{#each filtered || inspectionOrders as io}
						<tr>
							<td>{parseDate(io.date)}</td>
							<td>{io.brand}</td>
							<td>{io.model}</td>
							<td>{io.plate}</td>
						</tr>
					{/each}
				</tbody>
			</OverflowTable>
		</div>
	{:else}
		<LoadingScreen class="self-center" />
	{/if}
</div>
