<script>
	import { onMount } from "svelte";
	import { newSchedule } from "../../../api/vehicle";
	import { getCars } from "../../../api/cars";
	import Notification from "../../../components/Notification.svelte";

	let cars = null;
	onMount(() => {
		getCars().then((data) => {
			cars = data;
		});
	});

	let data = {
		id_vehicle: 5,
		date: new Date(),
	};

	function postNewSchedule() {
		newSchedule(data).then((res) => {
			if (res?.error) {
				alertUser(res.error, true);
				return;
			}
			alertUser("ТО запланировано");
		});
	}

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">Новое ТО</div>
	<div class="grid grid-cols-2 gap-8 bg-base-200 p-4 rounded-box w-3/4">
		<div class="form-control w-full max-w-md">
			<label class="label" for="car">
				<span class="label-text">Выберите Транспортное Средство</span>
			</label>
			<select
				class="select select-bordered"
				name="car"
				id="car"
				bind:value="{data.id_vehicle}"
			>
				{#if cars}
					{#each cars as c}
						<option value="{c.id}">
							{c.plate} ({c.brand} - {c.model})
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="date">
				<span class="label-text">Выберите Дату</span>
			</label>
			<input
				type="date"
				class="input input-bordered"
				name="date"
				id="date"
				bind:value="{data.date}"
			/>
		</div>
		<button class="btn btn-primary col-span-full" on:click="{postNewSchedule}"
			>Запланировать</button
		>
	</div>
</div>
