<script>
	import { onMount } from "svelte";
	import { getTodaySchedule } from "../../../api/vehicle";
	import LoadingScreen from "../../../components/loading/LoadingScreen.svelte";
	import OverflowTable from "../../../components/OverflowTable.svelte";
	import { parseDate } from "../../../date";

	let inspectionOrders;

	onMount(() => {
		getTodaySchedule().then((data) => {
			inspectionOrders = data;
		});
	});
</script>

{#if inspectionOrders}
	<h1 class="text-accent p-4 text-xl pt-0 font-bold text-center">
		ТО на сегодня
	</h1>
	<OverflowTable class="shadow-base-300 shadow-lg">
		<tr slot="th" class="sticky top-0 z-50">
			<th>Дата</th>
			<th>Марка</th>
			<th>Модель</th>
			<th>Номер</th>
		</tr>
		<tbody slot="tbody">
			{#each inspectionOrders as io}
				<tr>
					<td>{parseDate(io.date)}</td>
					<td>{io.brand}</td>
					<td>{io.model}</td>
					<td>{io.plate}</td>
				</tr>
			{/each}
		</tbody>
	</OverflowTable>
{:else}
	<LoadingScreen />
{/if}