<script>
	import { onMount } from "svelte";
	import { getFiles, getFile } from "../../api/files";
	import Notification from "../../components/Notification.svelte";
    import { get as get_store } from 'svelte/store'
	import { goto, url } from "@roxi/routify";
    import { jwt } from '../../storable.js'


    let files = null;
    onMount(() => {
        if (get_store(jwt) == '') {
            $goto($url("/auth/login"));
        }
        getFiles().then((data) => {
            files = data
        });
    });

    let filename;

    function download() {

        getFile(filename).then(response => response.blob())
        .then(blob => {
            var url = window.URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.href = url;
            a.download = filename;
            document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
            a.click();    
            a.remove();  //afterwards we remove the element again         
        });

    }


	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">Скачать файл</div>
	<div class="grid gap-8 bg-base-200 p-4 rounded-box w-3/4">
        <div class="form-control w-full">
			<label class="label" for="id_type">
				<span class="label-text">Выберите файл</span>
			</label>
			<select
				class="select select-bordered"
				name="id_type"
				id="id_type"
				bind:value="{filename}"
			>
				{#if files}
					{#each files as f}
						<option value="{f._object_name}">
							{f._object_name}
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<button class="btn btn-primary col-span-full" on:click="{download}">Получить файл</button>
	</div>
</div>