<script>
	import { goto, url } from "@roxi/routify";
	import { onMount } from "svelte";
	import Fa from "svelte-fa";
	import { faPlus } from "@fortawesome/free-solid-svg-icons";
	import LoadingScreen from "../../components/loading/LoadingScreen.svelte";
	import OverflowTable from "../../components/OverflowTable.svelte";
	import { getFiles } from "../../api/files";
    import { parseDate } from "../../date.js"
    import { get as get_store } from 'svelte/store'
    import { jwt } from '../../storable.js'


	let allFiles = null;


    
	onMount(() => {
        if (get_store(jwt) == '') {
            $goto($url("/auth/login"));
        }
        
		getFiles().then((data) => {
            if (data?.detail == "Invalid authentication credentials") {
                $goto($url("/auth/login"));
                return;
            }
			allFiles = data;
		}).catch((error) => {
            console.log(error)
        });
	});
</script>


<div class="flex flex-col grow overflow-hidden">
	{#if allFiles}
		<h1 class="text-accent p-4 text-xl pt-0 font-bold text-center">
			<div
				class="tooltip tooltip-success tooltip-left mr-5"
				data-tip="Добавить файл"
			>
				<a href="{$url('/files/new')}" class="btn btn-success">
					<Fa icon="{faPlus}" />
				</a>
            </div>
			Файлы
		</h1>
		<OverflowTable class="shadow-base-300 shadow-lg p-4">
			<tr slot="th" class="sticky top-0 z-50">
				<th>etag</th>
				<th>objectname</th>
				<th>last_modified</th>
			</tr>
			<tbody slot="tbody">
				{#each allFiles as file}
					<tr>
						<td>{file._etag}</td>
						<td>{file._object_name}</td>
						<td>{parseDate(file._last_modified)}</td>
					</tr>
				{/each}
			</tbody>
		</OverflowTable>
        

	{:else}
		<LoadingScreen />
	{/if}
</div>