<script>
    import { uploadFile } from '../../api/files.js'
    import { get as get_store } from 'svelte/store'
	import { goto, url } from "@roxi/routify";
    import { jwt } from '../../storable.js'

    if (get_store(jwt) == '') {
        $goto($url("/auth/login"));
    }
    
    import Notification from "../../components/Notification.svelte";

    let files;
    let alertUser;

    $: if (files) {
		// Note that `files` is of type `FileList`, not an Array:
		// https://developer.mozilla.org/en-US/docs/Web/API/FileList
		console.log(files);

		for (const file of files) {
			console.log(`${file.name}: ${file.size} bytes`);
		}
	}

    function onclick_uploadFile() {
        const formData = new FormData();
        formData.append('file', files[0]);

        uploadFile(formData).then((data) => {
            console.log(data);
            alertUser("Файл Успешно загружен")

        }).catch((error) => {
            console.log(error);
        })
    }
</script>

<Notification bind:alertUser />


<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">Новый файл</div>
    <div class="grid  gap-8 bg-base-200 p-4 rounded-box w-3/4">
        <div class="flex items-center justify-center w-full">
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">any-file</p>
                </div>
                <input bind:files id="dropzone-file" type="file" class="hidden" />
            </label>
        </div>
        <button class="btn btn-primary col-span-full" on:click="{onclick_uploadFile}">Добавить</button>
    </div>
</div>
