<script>
	import { onMount } from "svelte";
	import LoadingScreen from "../../../components/loading/LoadingScreen.svelte";
	import { getSchedule } from "../../../api/cargo";
	import { parseDate } from "../../../date";
	import { url } from "@roxi/routify";
	import Search from "../../../components/Search.svelte";
	import { faPlus } from "@fortawesome/free-solid-svg-icons";
	import Fa from "svelte-fa";
	import OverflowTable from "../../../components/OverflowTable.svelte";

	let workOrders;

	let userInput = "",
		filtered;
	const filterItems = () => {
		if (!workOrders) return;

		let input = userInput.toLowerCase();

		if (input.length <= 2) {
			filtered = null;
			return;
		}

		filtered = workOrders.filter((item) => {
			let passed = false;

			for (const [_, value] of Object.entries(item)) {
				let s = value.toString().toLowerCase();
				if (s.indexOf(input) !== -1) {
					passed = true;
					break;
				}
			}
			return passed;
		});
	};

	onMount(() => {
		getSchedule().then((data) => {
			workOrders = data;
			filterItems();
		});
	});
</script>

<div class="flex flex-col grow overflow-hidden">
	{#if workOrders}
		<div class="flex bg-base-200 p-4 mb-4 rounded-box place-items-end gap-4">
			<Search
				title="Поиск по заказам"
				bind:input="{userInput}"
				fn="{filterItems}"
			/>
			<div
				class="tooltip tooltip-success tooltip-left"
				data-tip="Добавить заказ"
			>
				<a href="{$url('/cargo/schedule/new')}" class="btn btn-success">
					<Fa icon="{faPlus}" />
				</a>
			</div>
		</div>
		<div class="flex w-full grow overflow-hidden bg-base-200 rounded-box p-4">
			<OverflowTable class="shadow-base-300 shadow-lg">
				<tr slot="th" class="sticky top-0 z-50">
					<th>Дата</th>
					<th>Бригада</th>
					<th>Авто</th>
					<th>Клиент</th>
					<th>Откуда</th>
					<th>Куда</th>
				</tr>
				<tbody slot="tbody">
					{#each filtered || workOrders as wo}
						<tr>
							<td>{parseDate(wo.date)}</td>
							<td>{wo.id_brigade}</td>
							<td>{wo.plate}</td>
							<td class="whitespace-normal">
								{wo.name}
								<span class="block font-bold text-info">
									{wo.phone_number}
								</span>
							</td>
							<td class="whitespace-normal">{wo.address_from}</td>
							<td class="whitespace-normal">{wo.address_to}</td>
						</tr>
					{/each}
				</tbody>
			</OverflowTable>
		</div>
	{:else}
		<LoadingScreen class="self-center" />
	{/if}
</div>
