<script>
	import { onMount } from "svelte";
	import { getBrigades } from "../../../api/common";
	import { getCars } from "../../../api/cars";
	import Notification from "../../../components/Notification.svelte";
	import { getCargoTypes, getOrders, newSchedule } from "../../../api/cargo";
	import { parseDate } from "../../../date";

	let orders = null;
	let types = null;
	let brigades = null;
	let cars = null;
	onMount(() => {
		getOrders().then((data) => {
			orders = data;
		});
		getBrigades().then((data) => {
			brigades = data;
		});
		getCargoTypes().then((data) => {
			types = data;
		});
		getCars().then((data) => {
			cars = data;
		});
	});

	let data = {
		id_order: null,
		id_brigade: null,
		id_cargo_type: null,
		id_vehicle: null,
		price: null,
		weight: null,
	};

	function postNewSchedule() {
		newSchedule(data).then((res) => {
			if (res?.error) {
				alertUser("Машина не прошла ТО!", true);
				return;
			}
			alertUser("Заказ-наряд добавлен");
		});
	}

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">
		Новый заказ-наряд
	</div>
	<div class="grid grid-cols-2 gap-8 bg-base-200 p-4 rounded-box w-3/4">
		<div class="form-control w-full">
			<label class="label" for="order">
				<span class="label-text">Выберите заявку</span>
			</label>
			<select
				class="select select-bordered"
				name="order"
				id="order"
				bind:value="{data.id_order}"
			>
				{#if orders}
					{#each orders as o}
						<option value="{o.id_order}">
							{o.name} ({parseDate(o.date)})
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="type">
				<span class="label-text">Выберите Тип Груза</span>
			</label>
			<select
				class="select select-bordered"
				name="type"
				id="type"
				bind:value="{data.id_cargo_type}"
			>
				{#if types}
					{#each types as t}
						<option value="{t.id_cargo_type}">
							{t.name}
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="brigade">
				<span class="label-text">Выберите Бригаду</span>
			</label>
			<select
				class="select select-bordered"
				name="brigade"
				id="brigade"
				bind:value="{data.id_brigade}"
			>
				{#if brigades}
					{#each brigades as b}
						<option value="{b.id}">
							{b.id} ({b.workers})
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="car">
				<span class="label-text">Выберите Транспортное Средство</span>
			</label>
			<select
				class="select select-bordered"
				name="car"
				id="car"
				bind:value="{data.id_vehicle}"
			>
				{#if cars}
					{#each cars as c}
						<option value="{c.id}">
							{c.plate} ({c.brand} - {c.model})
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="price">
				<span class="label-text">Стоимость</span>
			</label>
			<input
				type="number"
				class="input input-bordered"
				name="price"
				id="price"
				bind:value="{data.price}"
			/>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="weight">
				<span class="label-text">Вес</span>
			</label>
			<input
				type="number"
				class="input input-bordered"
				name="weight"
				id="weight"
				bind:value="{data.weight}"
			/>
		</div>
		<button class="btn btn-primary col-span-full" on:click="{postNewSchedule}">
			Создать
		</button>
	</div>
</div>
