<script>
	import { onMount } from "svelte";
	import { getTodaySchedule } from "../../../api/cargo";
	import LoadingScreen from "../../../components/loading/LoadingScreen.svelte";
	import OverflowTable from "../../../components/OverflowTable.svelte";
	import { parseDate } from "../../../date";

	let workOrdersToday = null;
	onMount(() => {
		getTodaySchedule().then((data) => {
			workOrdersToday = data;
			console.log(data);
		});
	});
</script>

{#if workOrdersToday}
	<h1 class="text-accent p-4 text-xl pt-0 font-bold text-center">
		Заказы на сегодня
	</h1>
	<OverflowTable class="shadow-base-300 shadow-lg">
		<tr slot="th" class="sticky top-0 z-50">
			<th>Бригада</th>
			<th>Авто</th>
			<th>Клиент</th>
			<th>Номер</th>
			<th>Откуда</th>
			<th>Куда</th>
		</tr>
		<tbody slot="tbody">
			{#each workOrdersToday as wo}
				<tr>
					<td>{wo.id_brigade}</td>
					<td>{wo.plate}</td>
					<td class="whitespace-normal">{wo.name}</td>
					<td>{wo.phone_number}</td>
					<td class="whitespace-normal">{wo.address_from}</td>
					<td class="whitespace-normal">{wo.address_to}</td>
				</tr>
			{/each}
		</tbody>
	</OverflowTable>
{:else}
	<LoadingScreen />
{/if}
