<script>
	import { url } from "@roxi/routify";
	import { onMount } from "svelte";
	import { getTodaySchedule } from "../../api/cargo";
	import LoadingScreen from "../loading/LoadingScreen.svelte";
	import OverflowTable from "../OverflowTable.svelte";
	import DataBox from "./DataBox.svelte";

	let cargoSchedule = null;
	onMount(() => {
		getTodaySchedule().then((data) => {
			cargoSchedule = data;
			console.log(data);
		});
	});
</script>

<DataBox text="Заказы сегодня" allHref="{$url('/cargo/schedule/today')}">
	<div slot="content" class="flex grow overflow-hidden">
		{#if cargoSchedule?.length > 0}
			<OverflowTable>
				<tr slot="th" class="sticky z-50 top-0">
					<th>Бригада</th>
					<th>Клиент</th>
				</tr>
				<tbody slot="tbody">
					{#each cargoSchedule as schedule}
						<tr>
							<td>{schedule.id_brigade}</td>
							<td>{schedule.name}</td>
						</tr>
					{/each}
				</tbody>
			</OverflowTable>
		{:else if cargoSchedule}
			Заказов нет
		{:else}
			<LoadingScreen />
		{/if}
	</div>
</DataBox>
