<script>
	import { faList } from "@fortawesome/free-solid-svg-icons";
	import Fa from "svelte-fa";

	export let text = "",
		allHref = "#";
</script>

<div
	class="flex flex-col bg-base-200 h-full rounded-box flex-1 p-4 overflow-hidden gap-4"
>
	<div class="flex items-center justify-center gap-4">
		<span class="grow capitalize text-lg">{text}</span>
		<div class="tooltip tooltip-left tooltip-primary" data-tip="Смотреть все">
			<a href="{allHref}" class="btn btn-primary">
				<Fa icon="{faList}" size="lg" />
			</a>
		</div>
	</div>
	<slot name="content" />
</div>
