<script>
	import { url } from "@roxi/routify";
	import { onMount } from "svelte";
	import { getTodaySchedule } from "../../api/vehicle";
	import LoadingScreen from "../loading/LoadingScreen.svelte";
	import OverflowTable from "../OverflowTable.svelte";
	import DataBox from "./DataBox.svelte";
	import { parseDate } from "../../date";


	let vehicleSchedule = null;
	onMount(() => {
		getTodaySchedule().then((data) => {
			vehicleSchedule = data;
			console.log(data);
		});
	});
</script>

<DataBox text="ТО сегодня" allHref="{$url('/vehicle/schedule/today')}">
	<div slot="content" class="flex grow overflow-hidden">
		{#if vehicleSchedule?.length > 0}
			<OverflowTable>
				<tr slot="th" class="sticky z-50 top-0">
					<th>Дата</th>
					<th>Бренд</th>
					<th>Модель</th>
					<th>Номер</th>
				</tr>
				<tbody slot="tbody">
					{#each vehicleSchedule as schedule}
						<tr>
							<td>{parseDate(schedule.date)}</td>
							<td>{schedule.brand}</td>
							<td>{schedule.model}</td>
							<td>{schedule.plate}</td>
						</tr>
					{/each}
				</tbody>
			</OverflowTable>
		{:else if vehicleSchedule}
			Заказов нет
		{:else}
			<LoadingScreen />
		{/if}
	</div>
</DataBox>
