<script>
	import { url } from "@roxi/routify";
	import { onMount } from "svelte";
	import { getTodaySchedule } from "../../api/public";
	import LoadingScreen from "../loading/LoadingScreen.svelte";
	import OverflowTable from "../OverflowTable.svelte";
	import DataBox from "./DataBox.svelte";

	let publicSchedule = null;
	onMount(() => {
		getTodaySchedule().then((data) => {
			publicSchedule = data;
		});
	});
</script>

<DataBox text="Маршруты сегодня" allHref="{$url('/public/schedule/today')}">
	<div slot="content" class="flex grow overflow-hidden">
		{#if publicSchedule}
			<OverflowTable>
				<tr slot="th" class="sticky z-50 top-0">
					<th>Бригада</th>
					<th>Маршрут</th>
				</tr>
				<tbody slot="tbody">
					{#each publicSchedule as schedule}
						<tr>
							<td>{schedule.id_brigade}</td>
							<td>
								{schedule.short_name} ({schedule.start_name} - {schedule.stop_name})
							</td>
						</tr>
					{/each}
				</tbody>
			</OverflowTable>
		{:else}
			<LoadingScreen />
		{/if}
	</div>
</DataBox>
