<script>
	import { onMount } from "svelte";
	import Fa from "svelte-fa";
	import { url } from "@roxi/routify";
	import { faPlus } from "@fortawesome/free-solid-svg-icons";
	import LoadingScreen from "../../../components/loading/LoadingScreen.svelte";
	import Search from "../../../components/Search.svelte";
	import OverflowTable from "../../../components/OverflowTable.svelte";
	import { getAllTypes } from "../../../api/vehicle";

	let allTypes = null;

	let userInput = "",
		filtered;
	const filterItems = () => {
		if (!allTypes) return;

		let input = userInput.toLowerCase();

		if (input.length <= 2) {
			filtered = null;
			return;
		}

		filtered = allTypes.filter((item) => {
			let passed = false;

			for (const [_, value] of Object.entries(item)) {
				let s = value.toString().toLowerCase();
				if (s.indexOf(input) !== -1) {
					passed = true;
					break;
				}
			}
			return passed;
		});
	};

	onMount(() => {
		getAllTypes().then((data) => {
			allTypes = data;
		});
	});

    function rename() {
        
    }
</script>

<div class="flex flex-col grow overflow-hidden">
	{#if allTypes}
		<div class="flex bg-base-200 p-4 mb-4 rounded-box place-items-end gap-4">
			<Search
				title="Поиск типов ТС"
				bind:input="{userInput}"
				fn="{filterItems}"
			/>
			<div
				class="tooltip tooltip-success tooltip-left"
				data-tip="Добавить тип ТС"
			>
				<a href="{$url('/vehicle/types/new')}" class="btn btn-success">
					<Fa icon="{faPlus}" />
				</a>
			</div>
		</div>
		<div class="flex w-full grow overflow-hidden bg-base-200 rounded-box p-4">
			<OverflowTable class="shadow-base-300 shadow-lg">
				<tr slot="th" class="sticky top-0 z-50">
					<th>Тип ТС</th>
					<th></th>
				</tr>
				<tbody slot="tbody">
					{#each filtered || allTypes as type}
						<tr>
							<td>{type.name}</td>
					{/each}
				</tbody>
			</OverflowTable>
		</div>
	{:else}
		<LoadingScreen />
	{/if}
</div>