<script>
	import { onMount } from "svelte";
	import { newType } from "../../../api/vehicle";
	import Notification from "../../../components/Notification.svelte";

	let data = {
		name: ""
	};

	function postType() {
		newType(data).then((res) => {
			if (res?.error) {
				alertUser(res.error, true);
				return;
			}
			alertUser("Тип ТС добавлен");
		});
	}

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">Новый тип ТС</div>
	<div class="grid gap-8 bg-base-200 p-4 rounded-box w-3/4">
		<div class="form-control w-full">
			<label class="label" for="name">
				<span class="label-text">Введите тип ТС</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="name"
				id="name"
				bind:value="{data.name}"
			/>
		</div>
		<button class="btn btn-primary col-span-full" on:click="{postType}"
			>Добавить</button
		>
	</div>
</div>
