<script>
	import { onMount } from "svelte";
	import { getAllTypes, renameType } from "../../../api/vehicle";
	import Notification from "../../../components/Notification.svelte";

    let types = null;
    onMount(() => {
        getAllTypes().then((data) => {
            types = data;
        });
    });

	let data = {
        id_type: 3,
		name: ""
	};

	function postRenameType() {
		renameType(data).then((res) => {
			if (res?.error) {
				alertUser(res.error, true);
				return;
			}
			alertUser("Тип ТС переименован");
		});
	}

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">Редактирование типа ТС</div>
	<div class="grid grid-cols-2 gap-8 bg-base-200 p-4 rounded-box w-3/4">
        <div class="form-control w-full max-w-md">
			<label class="label" for="car">
				<span class="label-text">Выберите тип ТС</span>
			</label>
			<select
				class="select select-bordered"
				name=""
				id="id_type"
				bind:value="{data.id_type}"
			>
				{#if types}
					{#each types as t}
						<option value="{t.id_type}">
							{t.name}
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full">
			<label class="label" for="name">
				<span class="label-text">Введите новый тип ТС</span>
			</label>
			<input
				type="text"
				class="input input-bordered"
				name="name"
				id="name"
				bind:value="{data.name}"
			/>
		</div>
		<button class="btn btn-primary col-span-full" on:click="{postRenameType}"
			>Редактировать</button
		>
	</div>
</div>
