<script>
    import { goto, url } from "@roxi/routify";
    import { jwt } from '../../storable.js'
    import Notification from "../../components/Notification.svelte";

    import { signup } from '../../api/auth.js'

    let email, password;

    let alertUser;

    function handleSubmit(e) {

        signup({
            email: email,
            password: password
        }).then((data) => {
            if (data?.error) {
				alertUser(data.error, true);
				return;
			}
            if (data?.detail) {
				alertUser(data.detail, true);
				return;
			}
            jwt.set(data.access_token);
            alertUser("Успешно зарегистрирован");
            $goto($url("/files"));
        }).catch((error) => {
            console.log(error)
        })
    }

</script>

<Notification bind:alertUser />

<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Зарегистрироваться
              </h1>
              <form class="space-y-4 md:space-y-6" on:submit|preventDefault="{handleSubmit}" >
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Введите почту</label>
                      <input bind:value="{email}" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Введите пароль</label>
                      <input bind:value="{password}" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                  </div>
                  <button type="submit" class="w-full text-black bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign up</button>
              </form>
          </div>
      </div>
  </div>
</section>