<script>
	import {
		faCalendarDay,
		faCalendarWeek,
		faChartBar,
		faClipboardList,
		faPlus,
		faSackDollar,
	} from "@fortawesome/free-solid-svg-icons";
	import { url } from "@roxi/routify";
	import Fa from "svelte-fa";

	let actions = [
		{
			name: "Заказ-наряды на сегодня",
			icon: faCalendarDay,
			url: $url("/cargo"),
		},
		{
			name: "Все заказ-наряды",
			icon: faCalendarWeek,
			url: $url("/cargo/schedule/full"),
		},
		{
			name: "Сформировать заказ-наряд",
			icon: faPlus,
			url: $url("/cargo/schedule/new"),
		},
		{
			name: "Зафиксировать выполнение",
			icon: faSackDollar,
			url: $url("/cargo/fixate"),
		},
		{ divider: true },
		{
			name: "Заявки",
			icon: faClipboardList,
			url: $url("/cargo/order"),
		},
		{
			name: "Добавить заявку",
			icon: faPlus,
			url: $url("/cargo/order/new"),
		},
		{ divider: true },
		{
			name: "Анализ",
			icon: faChartBar,
			url: $url("/cargo/analyze"),
		},
	];
</script>

<div class="flex grow gap-4 overflow-hidden">
	<div class="flex flex-col items-end">
		{#each actions as action}
			{#if action?.divider}
				<div class="divider"></div>
			{:else}
				<a
					href="{action.url}"
					class="flex gap-2 decoration-accent decoration-2 hover:underline justify-end hover:text-accent items-center p-2 px-4 hover:bg-base-200 w-fit rounded"
				>
					<Fa icon="{action.icon}" />
					<span class="text-base-content text-right whitespace-nowrap"
						>{action.name}</span
					>
				</a>
			{/if}
		{/each}
	</div>
	<div class="flex grow flex-col rounded-box bg-base-200 p-4 overflow-hidden">
		<slot />
	</div>
</div>
