<script>
	import OverflowTable from "../../components/OverflowTable.svelte";
	import LoadingScreen from "../../components/loading/LoadingScreen.svelte";
	import { getTypesAnalysis, getWorkersAnalysis } from "../../api/cargo";

	let data = {
		start: new Date(),
		end: new Date(),
	};

	let typesData, workersData;
	function sendPostAnalyze() {
		getTypesAnalysis(data).then((data) => {
			typesData = data;
		});
		getWorkersAnalysis(data).then((data) => {
			workersData = data;
			workersData = workersData.map((item) => {
				let workers = item.workers.split(", ");
				item.workers = Array.from(new Set(workers)).join(", ");
				return item;
			});
		});
	}
</script>

<div class="flex flex-col grow overflow-hidden gap-4">
	<div class="flex overflow-hidden gap-8 justify-center items-center">
		<div class="form-control w-full">
			<label class="input-group w-full">
				<span class="px-8">От</span>
				<input
					type="date"
					placeholder="info@site.com"
					class="input input-bordered w-full"
					bind:value="{data.start}"
				/>
				<span class="px-8">До</span>
				<input
					type="date"
					placeholder="info@site.com"
					class="input input-bordered w-full"
					bind:value="{data.end}"
				/>
				<input
					type="button"
					class="btn btn-accent"
					value="Анализ"
					on:click="{sendPostAnalyze}"
				/>
			</label>
		</div>
	</div>
	{#if workersData && typesData}
		<OverflowTable class="flex-1">
			<tr slot="th" class="sticky top-0 z-50">
				<th>Тип</th>
				<th>Заказов</th>
				<th>Прибыль</th>
				<th>Средняя цена на заказ</th>
				<th>Средний вес</th>
			</tr>
			<tbody slot="tbody">
				{#each typesData as t}
					<tr>
						<td>{t.name}</td>
						<td>{t.count}</td>
						<td>{t.income / 1000} т.₽</td>
						<td>{t.avgp / 1000} т.₽</td>
						<td>{t.avgw / 1000} тонн</td>
					</tr>
				{/each}
			</tbody>
		</OverflowTable>
		<OverflowTable class="flex-1">
			<tr slot="th" class="sticky top-0 z-50">
				<th>Бригада</th>
				<th class="max-w-md">Сотрудники</th>
				<th>Всего заказов</th>
				<th>Выполнено заказнов</th>
			</tr>
			<tbody slot="tbody">
				{#each workersData as w}
					<tr>
						<td>{w.id}</td>
						<td class="whitespace-normal">{w.workers}</td>
						<td>{w.total}</td>
						<td>{w.finished}</td>
					</tr>
				{/each}
			</tbody>
		</OverflowTable>
	{:else}
		<div class="flex grow">
			<LoadingScreen placeholder="Выберите даты..." />
		</div>
	{/if}
</div>
