<script>
	import { onMount } from "svelte";
	import { fixateWorkOrder, getTodaySchedule } from "../../api/cargo";
	import Notification from "../../components/Notification.svelte";

	let workOrders = null;
	onMount(() => {
		getTodaySchedule().then((data) => {
			workOrders = data;
		});
	});

	let data = {
		id_wo: null,
	};

	function postFixateSchedule() {
		const newData = data;
		fixateWorkOrder(newData).then((res) => {
			if (res?.error) {
				alertUser(
					"Ошибка при фиксации заказ-наряда: " + JSON.stringify(res.error),
					true
				);
				return;
			}
			alertUser("Заказ-наряд выполнен!");
		});
	}

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">
		Зафиксировать заказ-наряд
	</div>
	<div class="grid grid-cols-3 gap-8 bg-base-200 p-4 rounded-box w-3/4">
		<div class="form-control w-full col-span-full">
			<label class="label" for="route">
				<span class="label-text">Выберите заказ-наряд</span>
			</label>
			<select
				class="select select-bordered"
				name="route"
				id="route"
				bind:value="{data.id_wo}"
			>
				{#if workOrders}
					{#each workOrders as wo}
						<option value="{wo.id_work_order}">
							{wo.name} (Бригада {wo.id_brigade})
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<button
			class="btn btn-primary col-span-full"
			on:click="{postFixateSchedule}"
		>
			Выполнить
		</button>
	</div>
</div>
