.post {
    margin-top: 30px;
    display: block;
    background: white;
    border-radius: 20px;
    width: 700px;
    height: auto;
    padding: 30px;
    box-shadow: 0 2px 10px #939090;
}

.post .date {
    color: #7a7a7a;
    font-size: 10pt;
}

.head {
    margin-top: -10px;
    font-size: 20pt;
}

.text {
    font-size: 14pt;
}