@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.header {
    background: #AA3456;
    height: 60px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    color: white;
    position: sticky;
    top: 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14pt;
}

.header p {
    margin-right: 10px;
}

.user-block {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.logout {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14pt;
    background: none;
    border: none;
}

.logout:hover {
    color: #d2cccc;
}

.avatar {
    display: block;
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 20px;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-bottom: 20px;
}

