.file-input label {
    background: #AA3456;
    color: white;
    font-family: Roboto;
    font-weight: 300;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.file-input input {
    display: none;
}