@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
}

input {
    border: 0;
    border-bottom: solid 2px #AA3456;
    width: 400px;
    height: 50px;
    font-size: 20pt;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.result-message {
    font-family: Roboto;
    font-weight: 500;
    display: none;
    padding: 30px 20px;
    background: #7fe77f;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 1px 10px #b2b2b2;
}

.login-button {
    font-family: Roboto;
    font-weight: 500;
    border-radius: 10px;
    font-size: 16pt;
    width: 220px;
    height: 50px;
    background: #AA3456;
    color: white;
    border: 0;
}

.login-button:hover {
    background: #8d2c48;
}

a {
    color: #AA3456;
}

h1 {
    color: #AA3456;
}