.add-post {
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #AA3456;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: 0;
    color: white;
    font-family: Roboto;
    font-weight: 300;
    font-size: 30pt;
}

.add-post:hover {
    background: #8d2c48;
}