.head-background {
    display: block;
    width: 100%;
    height: 200px;
    background: #F6E6E6;
}

.toolbar {
    display: flex;
    width: 200px;
    height: auto;
    margin-left: 96px;
    margin-top: 10px;
    flex-direction: column;
    background: #F8F8F8;
    border-radius: 10px;
    border: solid 1px #E5DCDC;
    justify-content: space-around;
}

.toolbar-button {
    border: none;
    padding: 20px;
    background: #f1f1f1;
    font-family: Roboto;
    cursor: pointer;
}

.toolbar-button:hover {
    background: #e1e1e1;
}

.upload-image {
    border-radius: 10px 10px 0 0 ;
}

.logout-button {
    border-radius: 0 0 10px 10px;
    color: red;
}

.username {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18pt;
}

.role {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14pt;
    margin-top: -20px;
    padding: 6px;
    border-radius: 8px;
}