.users-root {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users-header {
    display: block;
    width: 70%;
}

.users-header h2 {
    color: #AA3456;
    margin-left: 20px;
}