<script>
	import {
		faCalendarDay,
		faCalendarWeek,
		faChartBar,
		faPlus,
		faRoute,
		faSackDollar,
	} from "@fortawesome/free-solid-svg-icons";
	import { url } from "@roxi/routify";
	import Fa from "svelte-fa";

	let actions = [
		{
			name: "Расписание на сегодня",
			icon: faCalendarDay,
			url: $url("/public"),
		},
		{
			name: "Полное расписание",
			icon: faCalendarWeek,
			url: $url("/public/schedule/full"),
		},
		{
			name: "Добавить смену",
			icon: faPlus,
			url: $url("/public/schedule/new"),
		},
		{
			name: "Зафиксировать смену",
			icon: faSackDollar,
			url: $url("/public/fixate"),
		},
		{ divider: true },
		{
			name: "Маршруты",
			icon: faRoute,
			url: $url("/public/route"),
		},
		{
			name: "Добавить маршрут",
			icon: faPlus,
			url: $url("/public/route/new"),
		},
		{ divider: true },
		{
			name: "Анализ",
			icon: faChartBar,
			url: $url("/public/analyze"),
		},
	];
</script>

<div class="flex grow gap-4 overflow-hidden">
	<div class="flex flex-col items-end">
		{#each actions as action}
			{#if action?.divider}
				<div class="divider"></div>
			{:else}
				<a
					href="{action.url}"
					class="flex gap-2 decoration-accent decoration-2 hover:underline justify-end hover:text-accent items-center p-2 px-4 hover:bg-base-200 w-fit rounded"
				>
					<Fa icon="{action.icon}" />
					<span class="text-base-content text-right">{action.name}</span>
				</a>
			{/if}
		{/each}
	</div>
	<div class="flex grow flex-col rounded-box bg-base-200 p-4 overflow-hidden">
		<slot />
	</div>
</div>
