<script>
	import OverflowTable from "../../components/OverflowTable.svelte";
	import LoadingScreen from "../../components/loading/LoadingScreen.svelte";
	import { getRoutesAnalysis, getWorkersAnalysis } from "../../api/public";

	let data = {
		start: new Date(),
		end: new Date(),
	};

	let routesData, workersData;
	function sendPostAnalyze() {
		getRoutesAnalysis(data).then((data) => {
			routesData = data;
		});
		getWorkersAnalysis(data).then((data) => {
			workersData = data;
			workersData = workersData.map((item) => {
				let workers = item.workers.split(", ");
				item.workers = Array.from(new Set(workers)).join(", ");
				return item;
			});
		});
	}
</script>

<div class="flex flex-col grow overflow-hidden gap-4">
	<div class="flex overflow-hidden gap-8 justify-center items-center">
		<div class="form-control w-full">
			<label class="input-group w-full">
				<span class="px-8">От</span>
				<input
					type="date"
					placeholder="info@site.com"
					class="input input-bordered w-full"
					bind:value="{data.start}"
				/>
				<span class="px-8">До</span>
				<input
					type="date"
					placeholder="info@site.com"
					class="input input-bordered w-full"
					bind:value="{data.end}"
				/>
				<input
					type="button"
					class="btn btn-accent"
					value="Анализ"
					on:click="{sendPostAnalyze}"
				/>
			</label>
		</div>
	</div>
	{#if workersData && routesData}
		<OverflowTable class="flex-1">
			<tr slot="th" class="sticky top-0 z-50">
				<th>Маршрут</th>
				<th>Обслужено пассажиров</th>
				<th>Поездок</th>
				<th>Пассажиров в среднем</th>
				<th>Прибыль</th>
			</tr>
			<tbody slot="tbody">
				{#each routesData as r}
					<tr>
						<td>{r.short_name}</td>
						<td>{r.passangers}</td>
						<td>{r.count}</td>
						<td>{r.avg}</td>
						<td>{r.money / 1000} т.₽</td>
					</tr>
				{/each}
			</tbody>
		</OverflowTable>
		<OverflowTable class="flex-1">
			<tr slot="th" class="sticky top-0 z-50">
				<th>Бригада</th>
				<th>Сотрудники</th>
				<th>Пассажиров обслужено</th>
				<th>Поездок</th>
			</tr>
			<tbody slot="tbody">
				{#each workersData as w}
					<tr>
						<td>{w.id}</td>
						<td>{w.workers}</td>
						<td>{w.passangers}</td>
						<td>{w.count}</td>
					</tr>
				{/each}
			</tbody>
		</OverflowTable>
	{:else}
		<div class="flex grow">
			<LoadingScreen placeholder="Выберите даты..." />
		</div>
	{/if}
</div>
