<script>
	import { onMount } from "svelte";
	import { fixateSchedule, getTodaySchedule } from "../../api/public";
	import Notification from "../../components/Notification.svelte";

	let schedules = null;
	onMount(() => {
		getTodaySchedule().then((data) => {
			schedules = data;
		});
	});

	let data = {
		id_schedule: null,
		passangers: null,
		started_at: null,
		ended_at: null,
	};

	function postFixateSchedule() {
		const newData = data;
		newData.started_at = new Date(
			new Date().toDateString() + " " + data.started_at + ":00"
		);
		newData.ended_at = new Date(
			new Date().toDateString() + " " + data.ended_at + ":00"
		);
		console.log(newData);
		fixateSchedule(newData).then((res) => {
			if (res?.error) {
				alertUser(
					"Ошибка при фиксации смены: " + JSON.stringify(res.error),
					true
				);
				return;
			}
			alertUser("Смена зафиксирована");
		});
	}

	let alertUser;
</script>

<Notification bind:alertUser />

<div class="flex flex-col grow items-center justify-center overflow-auto">
	<div class="m-8 mt-0 text-4xl text-accent text-center">
		Зафиксировать смену
	</div>
	<div class="grid grid-cols-3 gap-8 bg-base-200 p-4 rounded-box w-3/4">
		<div class="form-control w-full col-span-full">
			<label class="label" for="route">
				<span class="label-text">Выберите смену</span>
			</label>
			<select
				class="select select-bordered"
				name="route"
				id="route"
				bind:value="{data.id_schedule}"
			>
				{#if schedules}
					{#each schedules as s}
						<option value="{s.id_schedule}">
							Бригада {s.id_brigade} ({s.short_name} | {s.start_name}-{s.stop_name},
							{s.price}₽)
						</option>
					{/each}
				{:else}
					<option disabled selected>Загрузка</option>
				{/if}
			</select>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="passangers">
				<span class="label-text">Пассажиров обслужено</span>
			</label>
			<input
				type="number"
				class="input input-bordered"
				name="passangers"
				id="passangers"
				pattern="[0-9]+"
				min="0"
				bind:value="{data.passangers}"
				placeholder="32"
			/>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="started_at">
				<span class="label-text">Начало смены</span>
			</label>
			<input
				type="time"
				class="input input-bordered"
				name="started_at"
				id="started_at"
				bind:value="{data.started_at}"
			/>
		</div>
		<div class="form-control w-full max-w-md">
			<label class="label" for="ended_at">
				<span class="label-text">Конец смены</span>
			</label>
			<input
				type="time"
				class="input input-bordered"
				name="ended_at"
				id="ended_at"
				bind:value="{data.ended_at}"
			/>
		</div>
		<button
			class="btn btn-primary col-span-full"
			on:click="{postFixateSchedule}"
		>
			Зафиксировать
		</button>
	</div>
</div>
