.popover-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #AA3456;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: 0;
}

.popover-button:hover {
    background: #8d2c48;
}

.line {
    display: block;
    background: white;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    margin-top: 4px;
    box-shadow: 1px 1px 5px #565656;
}