<script>
	import { url } from "@roxi/routify";
	import { afterUpdate } from "svelte";
	import Breadcrumbs from "../components/Breadcrumbs.svelte";
	import Drawer from "../components/Drawer.svelte";
	import Header from "../components/Header.svelte";

	import "../tailwind.css";

	let update;
	afterUpdate(() => {
		typeof update === "function" && update();
	});
</script>

<Drawer>
	<div slot="content" class="flex flex-col h-screen overflow-hidden">
		<Header />
		<Breadcrumbs bind:update />
		<div class="p-4 flex flex-col grow overflow-hidden">
			<slot />
		</div>
	</div>
</Drawer>
