<script>
	import { url } from "@roxi/routify";
	import CargoBox from "../components/index/CargoBox.svelte";
	import GarageBox from "../components/index/GarageBox.svelte";
	import PublicBox from "../components/index/PublicBox.svelte";
	import LoadingScreen from "../components/loading/LoadingScreen.svelte";
</script>

<div class="flex gap-4 grow overflow-hidden">
	<GarageBox />
	<CargoBox />
	<PublicBox />
</div>
